= error_messages_for @entry
%table
  %tr
    %td Vorname:
    %td= h @entry.firstname
  %tr
    %td Nachname:
    %td= h @entry.lastname
  %tr
    %td K&uuml;rzel:
    %td= h @entry.shortname
  %tr
    %td Email:
    %td= h @entry.email
  %tr
    %td Ldapname:
    %td= h @entry.ldapname
  = renderGenericPartial :partial => 'field', :collection => editFields
  %tr
    %td
    %td= submit_tag 'Speichern'
