-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.planning-calendar{ style: "--days: #{@board.work_days}" }
  .planning-calendar-inner{ class: can?(:manage_plannings, @board.subject) ? 'editable' : nil }
    .planning-calendar-header
      = link_to('Zeiten', evaluation_path('employeeworkitems', category_id: @board.subject.id))

    = render 'board_header'

    - @board.accounting_posts.each do |post|
      - items = @board.items(@board.employee.id, post.work_item_id)
      - if items
        .planning-calendar-days{ id: planning_row_id(@board.employee.id, post.work_item_id) }
          = render 'row',
                   legend: post,
                   items: items,
                   row_total: @board.total_row_planned_hours(@board.employee.id, post.work_item_id),
                   row_total_period: nil,
                   row_total_overall: false

    - if can?(:manage_plannings, @board.subject)
      .actions{ data: { type: 'workItem', employee_id: @board.employee.id } }
        = render 'add_button'
