-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= direct_filter_select(:employee_id, 'Members', @employees)
= direct_filter_select(:work_item_id, 'Buchungsposition', @accounting_posts)
= direct_filter_select(:ticket, 'Ticket', @tickets, value_method: :to_s)
= direct_filter_select(:billable, 'Verrechenbar', yes_no_options)
- if Settings.meal_compensation.present?
  = direct_filter_select(:meal_compensation, 'Verpflegungs-Entschädigung', yes_no_options)
= direct_filter_select(:invoice_id, 'Rechnungsnr.', @invoices, text_method: :reference)
