%table.table-striped.table-condensed
  %thead
    %tr
      %th= membership_list_label
      %th Projektleitung
  %tbody
    - @projects.each do |membership|
      %tr
        %td
          = membership_other_label(membership)
        %td{:align => "center"}
          = render 'project_management', membership: membership
        %td
          = link_to 'Vom Projekt entfernen',
                    "#{main_path}/membership/#{membership.to_param}",
                    data: { confirm: "Wollen Sie #{membership.employee.label} wirklich vom Projekt #{membership.project.label} entfernen?",
                            method: :delete }