%br/
%p
  = form_tag "#{main_path}/membership" do
    = membership_list_label
    \:
    %br/
    = select_tag 'ids[]',
                 options_from_collection_for_select(@list, :id, :label_verbose), :multiple => true,
                 :size => 15
    %br/
    = submit_tag 'Hinzufügen', class: 'btn btn-default'
