- @title = 'Mehrw&ouml;chige Absenz erfassen'
%p
  Beim Erfassen von mehrw&ouml;chigen Absenzen wird f&uuml;r jeden Arbeitstag in der
  angegebenen Zeitspanne eine Absenz mit der Dauer des durchschnittlichen Tages-Solls erzeugt.
  Da Puzzletime die jeweiligen Arbeitstage von Teilzeitarbeitenden nicht kennt, kann hier nur
  das Mehrfache einer Woche erfasst werden.
= error_messages_for @multiabsence
= form_tag( :action => 'create_multi_absence' ) do
  %table
    %tr
      %td Absenz:
      %td= collection_select( 'multiabsence', 'absence_id', @accounts, :id, :label_verbose)
    %tr
      %td Vom:
      %td= date_calendar_field 'multiabsence', 'start_date'
    %tr
      %td Dauer:
      %td
        = text_field 'multiabsence', 'duration', :size => 15, :maxlength => 2
        Wochen
    %tr{:valign => "top"}
      %td Beschreibung:
      %td= text_area 'multiabsence', 'description', {:rows => 5}
    %tr
      %td
      %td= submit_tag 'Speichern'
%p= link_to '&Uuml;bersicht', :action => 'index'
