= standard_form(@worktime) do |f|
  - if record_other?
    = f.labeled(:employee_id) do
      = collection_select(:absencetime,
                          :employee_id,
                          @employees,
                          :id,
                          :label_verbose,
                          selected: @worktime.employee_id,
                          data: { remote: true,
                                  url: url_for(action: 'existing'),
                                  dynamic_params: 'absencetime[work_date]' })
  = f.labeled(:absence_id, f.belongs_to_field(:absence_id))
  = f.labeled_text_area(:description)
  = f.labeled_date_field(:work_date,
                         data: { remote: true,
                                 url: url_for(action: 'existing'),
                                 dynamic_params: 'absencetime[employee_id]' })
  = f.labeled_text_field(:from_start_time, value: format_time(@worktime.from_start_time))
  = f.labeled_text_field(:to_end_time, value: format_time(@worktime.to_end_time))
  = f.labeled_input_field(:hours, value: format_hour(@worktime.hours))
  - if @worktime.new_record?
    = f.labeled_input_field(:duration, value: '1', addon: 'Wochen<br>Beim Erfassen von mehrwöchigen Absenzen wird für jeden Arbeitstag in der angegebenen Zeitspanne eine Absenz mit der Dauer des durchschnittlichen Tages-Solls erzeugt.'.html_safe)
    = f.static_text(link_to 'Mehrwöchige Absenz', 'javascript:;', id: 'multi_absence_link')
    = f.static_text(link_to 'Reguläre Absenz', 'javascript:;', id: 'regular_absence_link')
    = f.input_field(:create_multi, value: @create_multi, type: 'hidden')