= crud_form do |f|
  = f.labeled_static_field(:firstname)
  = f.labeled_static_field(:lastname)
  = f.labeled_static_field(:shortname)
  = f.labeled_static_field(:email)
  = f.labeled_static_field(:ldapname)
  = f.labeled_input_field(:initial_vacation_days)
  = f.labeled_input_field(:management)

