= crud_form do |f|
  = f.labeled_input_fields :firstname,
                           :lastname,
                           :shortname,
                           :email,
                           :ldapname,
                           :department_id,
                           :probation_period_end_date

  - if Settings.employees.initial_vacation_days_editable
    = f.labeled_input_field :initial_vacation_days
  - elsif entry.initial_vacation_days > 0
    = f.labeled_static_field :initial_vacation_days
  = f.labeled_input_field :management

