= crud_form do |f|
  = f.labeled_input_fields :firstname,
                           :lastname,
                           :shortname,
                           :email,
                           :ldapname,
                           :department_id,
                           :probation_period_end_date

  - if Crm.instance
    - url = Crm.instance.contact_url(entry)
    - crm_link = url && link_to('Highrise Kontakt', url, target: '_blank',
                                                         rel: 'noopener noreferrer')
    = f.labeled :crm_key, caption: Crm.instance.crm_key_label,
                          span: 2,
                          help: crm_link do
      = f.input_field :crm_key

  - if Settings.employees.initial_vacation_days_editable
    = f.labeled_input_field :initial_vacation_days
  - elsif entry.initial_vacation_days > 0
    = f.labeled_static_field :initial_vacation_days
  = f.labeled_input_field :management

  %hr

  = f.labeled_input_fields :phone_office,
                           :phone_private,
                           :street,
                           :postal_code,
                           :city,
                           :birthday,
                           :emergency_contact_name,
                           :emergency_contact_phone,
                           :marital_status,
                           :social_insurance,
                           :additional_information
