-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= crud_form do |f|
  = f.labeled_input_fields :firstname,
                           :lastname,
                           :shortname,
                           :email,
                           :ldapname,
                           :department_id,
                           :workplace_id,
                           :probation_period_end_date,
                           :graduation

  - if Crm.instance
    = f.labeled_input_field :crm_key,
                            caption: Crm.instance.crm_key_name,
                            span: 2,
                            help: crm_contact_link(entry)

  - if Settings.employees.initial_vacation_days_editable
    = f.labeled_input_field :initial_vacation_days
  - elsif entry.initial_vacation_days > 0
    = f.labeled_static_field :initial_vacation_days
  = f.labeled_input_field :management

  %hr

  = f.labeled_input_fields :phone_office,
                           :phone_private,
                           :street,
                           :postal_code,
                           :city,
                           :birthday,
                           :emergency_contact_name,
                           :emergency_contact_phone,
                           :marital_status,
                           :social_insurance,
                           :identity_card_type,
                           :identity_card_valid_until

  = f.labeled(:nationalities) do
    = country_select(:employee,
                     :nationalities,
                     { priority_countries: %w(CH LI DE AT FR IT), selected: entry.nationalities, locale: :de, format: :with_alpha2 },
                     { required: false, multiple: true, class: 'form-control searchable' })

  = f.labeled_input_fields :additional_information
