-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = 'Passwort ändern'

= form_tag passwd_employees_path, name: 'form' do
  %table.table-condensed
    %tr
      %td
        %label.control-label Altes Passwort
      %td= password_field_tag 'pwd', nil, size: 30, class: 'form-control initial-focus'
    %tr
      %td
        %label.control-label Neues Passwort
      %td= password_field_tag 'change_pwd', nil, size: 30, class: 'form-control'
    %tr
      %td
        %label.control-label Bestätigung
      %td= password_field_tag 'change_pwd_confirmation', nil, size: 30, class: 'form-control'
    %tr
      %td
      %td
        %input{type: "submit", value: "Speichern", class: 'btn btn-primary'}
        = link_to('Abbrechen', settings_employees_path, class: 'cancel')


