-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "Benutzereinstellungen"

= standard_form(@user, url: settings_employees_path, cancel_url: root_path) do |f|
  - unless Settings.auth&.keys&.any?
    = f.labeled('Passwort') do
      %p.form-control-static
        = link_to 'Ändern', edit_employee_registration_path

  = f.labeled('Zeitspannen') do
    %table.table-condensed
      %tr{:valign => "top"}
        %td
          %label
            = multiple_check_box 'user', 'eval_periods', '0d'
            Heute
          %br/
          %label
            = multiple_check_box 'user', 'eval_periods', '-1d'
            Gestern
        %td
          %label
            = multiple_check_box 'user', 'eval_periods', '0w'
            Aktuelle Woche
          %br/
          %label
            = multiple_check_box 'user', 'eval_periods', '-1w'
            Vorige Woche
        %td
          %label
            = multiple_check_box 'user', 'eval_periods', '0m'
            Aktueller Monat
          %br/
          %label
            = multiple_check_box 'user', 'eval_periods', '-1m'
            Voriger Monat
        %td
          %label
            = multiple_check_box 'user', 'eval_periods', '0y'
            Aktuelles Jahr
          %br/
          %label
            = multiple_check_box 'user', 'eval_periods', '-1y'
            Voriges Jahr
        %td
          %label
            = multiple_check_box 'user', 'eval_periods', '0'
            Total

- unless @user.overtime_vacations.empty?
  .row
    .col-md-4
      %h4 Überstunden-Ferien Umbuchungen
      = plain_table(@user.overtime_vacations.list) do |t|
        - t.attr(:transfer_date)
        - t.attr(:hours)
