- @title = "Benutzereinstellungen"
= render 'shared/error_messages', object:  @user
= form_tag settings_employees_path do
  %table
    %tr
      %td{:colspan => "2"}
        %br>/
        Angezeigte aktuelle Zeitspannen:
    %tr{:valign => "top"}
      %td &nbsp; Eigene Zeit
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tr{:valign => "top"}
            %td
              = multiple_check_box 'user', 'user_periods', '0d'
              Heute
              %br/
              = multiple_check_box 'user', 'user_periods', '-1d'
              Gestern
            %td
              = multiple_check_box 'user', 'user_periods', '0w'
              Aktuelle Woche
              %br/
              = multiple_check_box 'user', 'user_periods', '-1w'
              Vorige Woche
            %td
              = multiple_check_box 'user', 'user_periods', '0m'
              Aktueller Monat
              %br/
              = multiple_check_box 'user', 'user_periods', '-1m'
              Voriger Monat
            %td
              = multiple_check_box 'user', 'user_periods', '0y'
              Aktuelles Jahr
              %br/
              = multiple_check_box 'user', 'user_periods', '-1y'
              Voriges Jahr
            %td
              = multiple_check_box 'user', 'user_periods', '0'
              Total
    %tr{:valign => "top"}
      %td &nbsp; Auswertungen
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tr{:valign => "top"}
            %td
              = multiple_check_box 'user', 'eval_periods', '0d'
              Heute
              %br/
              = multiple_check_box 'user', 'eval_periods', '-1d'
              Gestern
            %td
              = multiple_check_box 'user', 'eval_periods', '0w'
              Aktuelle Woche
              %br/
              = multiple_check_box 'user', 'eval_periods', '-1w'
              Vorige Woche
            %td
              = multiple_check_box 'user', 'eval_periods', '0m'
              Aktueller Monat
              %br/
              = multiple_check_box 'user', 'eval_periods', '-1m'
              Voriger Monat
            %td
              = multiple_check_box 'user', 'eval_periods', '0y'
              Aktuelles Jahr
              %br/
              = multiple_check_box 'user', 'eval_periods', '-1y'
              Voriges Jahr
            %td
              = multiple_check_box 'user', 'eval_periods', '0'
              Total
    %tr
      %td
      %td= submit_tag 'Speichern'
%br/
%br/
%h2 Benutzerinformationen
%div{:style => "float:left;"}
  %b Anstellungen
  %table.striped{:style => "margin-right: 50px;"}
    %thead
      %tr
        %th Von
        %th Bis
        %th Prozent
    %tbody
      - @user.employments.list.each do |employment|
        %tr
          %td{:align => "right"}= f employment.start_date
          %td{:align => "right"}= f employment.end_date
          %td{:align => "right"}= format_percent employment.percent
- unless @user.overtime_vacations.empty?
  %div
    %b Überzeit-Ferien Umbuchungen
    %table
      %thead
        %tr
          %th Datum
          %th Stunden
      %tbody
        - @user.overtime_vacations.list.each do |transfer|
          %tr
            %td{:align => "right"}= f transfer.transfer_date
            %td{:align => "right"}
              = format_hour transfer.hours
              h
