-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "Benutzereinstellungen"

= standard_form(@user, url: settings_employees_path, cancel_url: root_path) do |f|
  - unless Settings.auth&.keys&.any?
    = f.labeled('Passwort (Alt)') do
      %p.form-control-static
        = link_to 'Ändern', passwd_employees_path
    = f.labeled('Passwort (Devise)') do
      %p.form-control-static
        = link_to 'Ändern', edit_employee_registration_path

  = f.labeled('Zeitspannen') do
    %table.table-condensed
      %tr{:valign => "top"}
        %td
          = multiple_check_box 'user', 'eval_periods', '0d'
          Heute
          %br/
          = multiple_check_box 'user', 'eval_periods', '-1d'
          Gestern
        %td
          = multiple_check_box 'user', 'eval_periods', '0w'
          Aktuelle Woche
          %br/
          = multiple_check_box 'user', 'eval_periods', '-1w'
          Vorige Woche
        %td
          = multiple_check_box 'user', 'eval_periods', '0m'
          Aktueller Monat
          %br/
          = multiple_check_box 'user', 'eval_periods', '-1m'
          Voriger Monat
        %td
          = multiple_check_box 'user', 'eval_periods', '0y'
          Aktuelles Jahr
          %br/
          = multiple_check_box 'user', 'eval_periods', '-1y'
          Voriges Jahr
        %td
          = multiple_check_box 'user', 'eval_periods', '0'
          Total

- unless @user.overtime_vacations.empty?
  .row
    .col-md-4
      %h4 Überstunden-Ferien Umbuchungen
      = plain_table(@user.overtime_vacations.list) do |t|
        - t.attr(:transfer_date)
        - t.attr(:hours)
