-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.order-target.col-lg-3.col-md-4
  .form-group
    .btn-toolbar
      .row
        .col-sm-6
          .btn-group{ style: 'font-size: 20px;' }
            = icon(f.object.target_scope.icon)
            = f.object.target_scope.name

        .col-sm-6
          .btn-group.btn-group-justified{ data: { toggle: 'buttons' } }
            - OrderTarget::RATINGS.each do |rating|
              %label.btn.btn-default{class: "#{'active' if f.object.rating == rating}",
                                     data: { toggle: :tooltip },
                                     title: f.object.target_scope.send("rating_#{rating}_description")}
                = f.radio_button :rating, rating
                = order_target_rating_icon(rating)

  .form-group{class: "#{f.errors?(:comment) ? 'has-error' : nil}"}
    = f.text_area(:comment, rows: 10)
