- @title ||= 'Ziele bearbeiten'

= render 'orders/header'

= form_for(@order,
           url: order_order_targets_path(@order),
           builder: DryCrud::Form::Builder,
           html: { role: 'form' }) do |f|

  - if @errors.present?
    = render 'shared/error_messages', errors: @errors

  .row
    - @order_targets.each do |target|
      = f.fields_for "target_#{target.id}", target do |fields|
        = render 'fields', f: fields

  - if can?('update_targets', @order)
    .form-group
      = f.submit_button(ti('button.save'))