-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title ||= 'Ziele bearbeiten'

= render 'orders/header'

= form_for(@order,
           url: order_order_targets_path(@order),
           builder: DryCrud::Form::Builder,
           html: { role: 'form' }) do |f|

  - if @errors.present?
    = render 'shared/error_messages', errors: @errors

  .row
    - if can?('update_targets', @order)
      - @order_targets.each do |target|
        = f.fields_for "target_#{target.id}", target do |fields|
          = render 'fields', f: fields
    - else
      - @order_targets.each do |target|
        .order-target.col-md-3.row
          .col-md-1
            = icon(target.target_scope.icon,
                   style: 'font-size: 20px;',
                   title: target.target_scope.name)
          - OrderTarget::RATINGS.find { |r| r === target.rating }.tap do |rating|
            .col-md-1{ title: target.target_scope.send("rating_#{rating}_description") }
              = order_target_rating_icon(rating)
          .col-md-12
            %pre=target.comment

  - if can?('update_targets', @order)
    .form-group
      = f.submit_button(ti('button.save'))
