- @title ||= "Mitarbeiterliste"

= plain_table(@employees) do |t|
  -# - t.sortable_attrs(:shortname, :email, :birthday, :department, :current_percent)

  - t.col('Name') do |e|
    = e.to_s
  -# - t.attr(:lastname)
  -# - t.attr(:firstname)
  - t.attr(:shortname)
  - t.col(t.attr_header(:email)) do |e|
    = link_to_if e.email.present?, e.email, e.email
  - t.col(t.attr_header(:phone_office)) do |e|
    = link_to_if e.phone_office.present?, e.phone_office, "tel:#{e.phone_office}"
  - t.col(t.attr_header(:phone_private)) do |e|
    = link_to_if e.phone_private.present?, e.phone_private, "tel:#{e.phone_private}"
  - t.col(t.attr_header(:birthday)) do |e|
    = localize_date(e.birthday)
  - t.attr(:department)
  - t.attr(:current_percent)
  -# TODO: rollen

= paginate @employees
