= alternate_row
%td
  = employee.lastname
%td
  = employee.firstname
%td
  = link_to 'Aktuelle Planung', :action => 'employee_planning', :employee_id => employee
%td
  = link_to 'Neue Planung', :action => 'add', :employee_id => employee
