= error_messages_for @planning
%table
  %tr
    %td Mitarbeiter:
    %td
      = collection_select(:planning,
                          :employee_id,
                          @employees,
                          :id,
                          :label_verbose,
                          data: { remote: true,
                                  url: url_for(action: 'existing'),
                                  dynamic_params: 'planning[start_week_date]' })
  %tr
    %td Start:
    %td
      = week_calendar_field('planning',
                            'start_week_date',
                            data: { remote: true,
                                    url: url_for(action: 'existing'),
                                    dynamic_params: 'planning[employee_id]' })
  %tr
    %td &nbsp;
    %td
  %tr{:valign => "top"}
    %td Aktuelle Planung:
    %td
      #existing{:style => "border: 2px solid #C9D8FF;"}
        = render :partial => 'existing'
  %tr
    %td &nbsp;
    %td
  %tr
    %td Projekt:
    %td
      = collection_select( :planning, :project_id, @projects, :id, :label_verbose)
  %tr{:valign => "top"}
    %td Auswahl:
    %td
      = radio_button('planning', 'abstract_concrete', 'concrete', :checked => (!@planning.is_abstract || @planning.new_record?))
      Tagesplanung
      %table
        %tr{:class => cycle('', 'uneven')}
          %th
          %th= Date::ABBR_DAYNAMES[1]
          %th= Date::ABBR_DAYNAMES[2]
          %th= Date::ABBR_DAYNAMES[3]
          %th= Date::ABBR_DAYNAMES[4]
          %th= Date::ABBR_DAYNAMES[5]
        %tr{:class => cycle('', 'uneven')}
          %td Vormittag
          %td= check_box 'planning', 'monday_am', {:onclick => "switch_day('planning_monday')"}
          %td= check_box 'planning', 'tuesday_am', {:onclick => "switch_day('planning_tuesday')"}
          %td= check_box 'planning', 'wednesday_am', {:onclick => "switch_day('planning_wednesday')"}
          %td= check_box 'planning', 'thursday_am', {:onclick => "switch_day('planning_thursday')"}
          %td= check_box 'planning', 'friday_am', {:onclick => "switch_day('planning_friday')"}
        %tr{:class => cycle('', 'uneven')}
          %td Nachmittag
          %td= check_box 'planning', 'monday_pm', {:onclick => "switch_day('planning_monday')"}
          %td= check_box 'planning', 'tuesday_pm', {:onclick => "switch_day('planning_tuesday')"}
          %td= check_box 'planning', 'wednesday_pm', {:onclick => "switch_day('planning_wednesday')"}
          %td= check_box 'planning', 'thursday_pm', {:onclick => "switch_day('planning_thursday')"}
          %td= check_box 'planning', 'friday_pm', {:onclick => "switch_day('planning_friday')"}
        %tr{:class => cycle('', 'uneven')}
          %td{:rowspan => "2"} Ganzer Tag
          %td= check_box 'planning', 'monday', {:onclick => "switch_half_day('planning_monday')"}
          %td= check_box 'planning', 'tuesday', {:onclick => "switch_half_day('planning_tuesday')"}
          %td= check_box 'planning', 'wednesday', {:onclick => "switch_half_day('planning_wednesday')"}
          %td= check_box 'planning', 'thursday', {:onclick => "switch_half_day('planning_thursday')"}
          %td= check_box 'planning', 'friday', {:onclick => "switch_half_day('planning_friday')"}
      = radio_button('planning', 'abstract_concrete', 'abstract', :checked => @planning.is_abstract)
      Prozentplanung
      \#{select("planning", "abstract_amount", (1..44).collect {|x| ["#{x*2.5}%", x*2.5]}, {:include_blank => true})}
      %br/
  %tr
    %td{:valign => "top"} Wiederholung:
    %td
      = radio_button('planning', 'repeat_type', 'no', :checked => (@planning.repeat_type_no? || @planning.new_record?))
      Keine
      %br/
      = radio_button('planning', 'repeat_type', 'until', :checked => @planning.repeat_type_until?)
      Bis KW
      = week_calendar_field 'planning', 'end_week_date'
      %br/
      = radio_button('planning', 'repeat_type', 'forever', :checked => (!@planning.new_record? && @planning.repeat_type_forever?))
      Unbeschränkt
  %tr
    %td{:valign => "top"} Typ:
    %td
      = radio_button('planning', 'type', 'tentative', :checked => !@planning.definitive)
      Provisorisch
      %br/
      = radio_button('planning', 'type', 'definitive', :checked => (@planning.definitive || @planning.new_record?))
      Definitiv
  %tr{:valign => "top"}
    %td Beschreibung:
    %td= text_area 'planning', 'description', {:rows => 5}
  %tr
    %td
    %td
      = submit_tag 'Speichern'
- if @planning && !@planning.new_record?
  %p
    = link_to('Löschen', {:controller => 'planning', :action => 'delete', :planning => @planning}, :confirm => "Wollen sie die Plannung wirklich entfernen?", :method => :post)
