= link_to 'Meine Planung', :action => 'my_planning'
\&nbsp;
\#{link_to 'Meine Projekte', :action => 'my_projects'}
\&nbsp;
\#{link_to 'Mitarbeiter', :action => 'employees'}
\&nbsp;
\#{link_to 'Projekte', :action => 'projects'}
\&nbsp;
\#{link_to 'Bereiche', :action => 'departments'}
\&nbsp;
\#{link_to 'Unternehmen', :action => 'company_planning'}
\&nbsp;
\#{link_to 'Listen', :action => 'employee_lists'}
