- @title = "Planung aller Mitarbeiter"
= render :partial => 'evaluator/periodLink'
= render :partial => 'planning/header', :locals => {:type => :calendar_week}
- @graph.employees.each do |employee|
  = render :partial => 'planning/employee_planning_entry_overview', :locals => { :user => employee, :employee_planning_graph => @graph.graphFor(employee), :type => :calendar_week}
= render :partial => 'planning/footer', :locals => {:type => :calendar_week, :first_span => 2}
%br/
%br/
= render :partial => 'legend'
