-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.form-group
  = form.label(:budget, "Budget", class: 'col-md-2 control-label')
  = form.label(:offered_hours, "Stunden", class: 'col-md-1 control-label')
  .col-md-1
    = form.input_field :offered_hours
  = form.label :offered_days, "Tage", class: 'col-md-1 control-label'
  .col-md-2
    = form.input_field :offered_days,
                       value: entry.offered_days,
                       data: { hours_per_day: WorkingCondition.todays_value(:must_hours_per_day) }
.form-group
  .col-md-2
  = form.label :offered_rate, "CHF/Std. *", class: 'col-md-1 control-label'
  .col-md-1
    = form.input_field :offered_rate
  = form.label :offered_total, "Total", class: 'col-md-1 control-label'
  .col-md-2
    = form.input_field :offered_total, value: entry.offered_total, addon: 'CHF'

.form-group
  .col-md-2
  .help-block.col-md-5
    Änderungen am Stundensatz wirken sich auf die Auswertungen von Finanzzahlen
    dieser Buchungsposition aus, vergangener wie zukünftigen. Falls der Stundensatz
    nur für zukünftige und nicht für vergangene Zeiten angepasst werden soll,
    muss eine neue Buchungsposition erstellt werden.
