-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%table.static
  %tr
    %th
      %br
      %br

  - @cockpit.rows.each do |row|
    = render "cockpit_#{row.class.name.demodulize.underscore}_head", row: row

.scrollable
  %table
    %tr
      / First line should be fixed
      / {:data => {:spy => "affix", :top => "-"}}
      %th{title: 'Budgetierte Stunden und Beträge.'}
        %span
          Budget
          = picon('info')
        %br
        ( Gesamte Vertragslaufzeit )
      %th{title: 'Die effektive Leistung entspricht der erfassten Arbeitszeit und ist unabhängig von der Verrechenbarkeit. '}
        %span
          Geleistete Stunden
          = picon('info')
        %br
        (
        = @period
        )
      %th{title: 'Durch den Auftragsverantwortlichen im Rahmen der Zeitbereinigung als nicht verrechenbar markierte Leistungen.'}
        %span
          Nicht verrechenbar
          = picon('info')
        %br
        (
        = @period
        )
      %th{title: 'Budget minus verrechenbare Stunden.'}
        %span
          Offenes Budget
          = picon('info')
        %br
        ( ab
        = @period.end_date.blank? ? I18n.l(Time.zone.today) : I18n.l(@period.end_date + 1.day)
        )
      %th{title: 'Geplantes Budget ab nächstem Tag gemäss Planungseinträgen.'}
        %span
          Geplantes Budget
          = picon('info')
        %br
        ( ab
        = @period.end_date.blank? ? I18n.l(Time.zone.today) : I18n.l(@period.end_date + 1.day)
        )


    - @cockpit.rows.each do |row|
      %tr
        - row.cells.each do |key, cell|
          %td
            - if cell.link.present?
              = link_to cell.link do
                = render 'cockpit_cell_contents', cell: cell
            - else
              = render 'cockpit_cell_contents', cell: cell
