-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.cockpit-header-item
  Budget
  %br
  ( Gesamte Vertragslaufzeit )
  .data-item{title: "Ist-R[#{currency}]"}
    %span.figure-label verrechnet
    %span.figure
      = f(@cockpit.billed_amount)
      %span.unit= currency
  .data-item{title: "Soll[#{currency}] - Ist-R[#{currency}]"}
    %span.figure-label offen
    %span.figure
      = f(@cockpit.budget_open)
      %span.unit= currency

- if @cockpit.cost_effectiveness_current || @cockpit.cost_effectiveness_forecast
  .cockpit-header-item
    Wirtschaftlichkeit
    %br
    ( Gesamte Vertragslaufzeit )
    - if @cockpit.cost_effectiveness_current
      .data-item{title: 'Ist-R[h] / Ist[h] x 100'}
        %span.figure-label Aktuell
        %span.figure
          = f(@cockpit.cost_effectiveness_current)
          %span.unit %
    - if @cockpit.cost_effectiveness_forecast
      .data-item{title: '(Ist[h] - Ist-NV[h]) / Ist[h] x 100'}
        %span.figure-label Prognose
        %span.figure
          = f(@cockpit.cost_effectiveness_forecast)
          %span.unit %

- if @cockpit.billed_rate
  .cockpit-header-item{title: "Ist-R[#{currency}] / Ist-V[h]"}
    Verrechneter Stundenansatz
    %br
    ( Gesamte Vertragslaufzeit )
    .data-item
      %span.figure
        = f(@cockpit.billed_rate)
        %span.unit= currency
