-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%table.static
  %tr
    %th &nbsp;

  - @cockpit.rows.each do |row|
    = render "cockpit_#{row.class.name.demodulize.underscore}_head", row: row

.scrollable
  %table
    %tr
      / First line should be fixed
      / {:data => {:spy => "affix", :top => "-"}}
      %th{title: 'Budgetierte Stunden und Beträge.'}
        %span
          Budget
          = picon('info')
      %th{title: 'Die effektive Leistung entspricht der erfassten Arbeitszeit und ist unabhängig von der Verrechenbarkeit. '}
        %span
          Geleistete Stunden
          = picon('info')
      %th{title: 'Differenz zwischen budgetierten Stunden und geleisteten Stunden.'}
        %span
          Offene Stunden
          = picon('info')
      %th{title: 'Durch den Auftragsverantwortlichen im Rahmen der Zeitbereinigung als nicht verrechenbar markierte Leistungen.'}
        %span
          Nicht verrechenbar
          = picon('info')

    - @cockpit.rows.each do |row|
      %tr
        - row.cells.each do |key, cell|
          %td
            .data-item
              - if cell.hours
                %span.figure= f(cell.hours.to_f)
                %span.unit Std.
            .data-item
              - if cell.days
                %span.figure= f(cell.days)
                %span.unit Tage
            .data-item
              - if cell.amount
                %span.figure.small= f(cell.amount.to_f)
                %span.unit CHF
