.form-group
  = form.label(:discount, "Rabatt", class: 'col-md-2 control-label')
  .col-md-1
    .radio
      = radio_button_tag(:discount, "none", entry.no_discount?, data: {disable_dependents: true})
      = form.label(:discount, "Kein Rabatt")
.form-group
  .col-md-2
  .col-md-1
    .radio
      = radio_button_tag(:discount, 'percent', entry.discount_percent?, data: {disable_dependents: true})
      = form.label(:discount, "Prozentsatz")
  .col-md-2
    .input-group
      = form.input_field :discount_percent, class: 'discount percent'
      .input-group-addon
        \%
.form-group
  .col-md-2
  .col-md-1
    .radio
      = radio_button_tag(:discount, 'fixed', entry.discount_fixed?, data: {disable_dependents: true})
      = form.label(:discount, "Betrag")
  .col-md-2
    .input-group
      = form.input_field :discount_fixed, class: 'discount fixed'
      .input-group-addon
        CHF