.form-group
  = form.label(:discount, "Rabatt", class: 'col-md-2 control-label required')
  .col-md-1
    .radio
      %label
        = radio_button_tag(:discount, "none", entry.no_discount?, data: {disable_dependents: true})
        Kein Rabatt
.form-group
  .col-md-2
  .col-md-1
    .radio
      %label
        = radio_button_tag(:discount, 'percent', entry.discount_percent?, data: {disable_dependents: true})
        Prozentsatz
  .col-md-2
    = form.input_field :discount_percent, class: 'discount percent', addon: '%'
.form-group
  .col-md-2
  .col-md-1
    .radio
      %label
        = radio_button_tag(:discount, 'fixed', entry.discount_fixed?, data: {disable_dependents: true})
        Betrag
  .col-md-2
    = form.input_field :discount_fixed, class: 'discount fixed', addon: 'CHF'
