= render 'orders/header'

%h1.h3= @title

%p &nbsp;

= crud_form do |f|
  = hidden_field_tag(:order_id, order.id)

  = render 'book_on_order_radio', form: f if entry.book_on_order_allowed?

  #work_item_fields
    = f.fields_for :work_item, entry.work_item do |fields|
      = render 'work_items/fields', fields: fields, required: false

  = f.labeled_input_field :closed

  = render 'budget_fields', form: f

  = f.labeled_input_field :remaining_hours, addon: 'h'
  = f.labeled_input_field :portfolio_item_id, span: 5
  = f.labeled_input_field :service_id, span: 5
  = f.labeled_input_field :billable, caption: 'Budgetposition ist verrechenbar'
  = f.labeled_input_field :description_required, caption: 'Beschreibung obligatorisch'
  = f.labeled_input_field :ticket_required, caption: 'Ticket obligatorisch'
  = f.labeled_input_field :from_to_times_required, caption: 'Von-Bis Zeiten obligatorisch'
