-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= render 'orders/header'

%h1.h3.top= @title

= crud_form do |f|
  = hidden_field_tag(:order_id, order.id)

  = render 'book_on_order_radio', form: f if entry.book_on_order_allowed?

  #work_item_fields
    = f.fields_for :work_item, entry.work_item do |fields|
      = render 'work_items/fields', fields: fields, required: false

  = f.labeled_input_field :closed

  = render 'budget_fields', form: f

  - edit = !@accounting_post.new_record?
  - blockdesc = blocking_worktimes(:description)
  - blocktick = blocking_worktimes(:ticket)
  - blockabso = blocking_worktimes(:absolute)
  - desc  = edit && blockdesc.any?
  - tick  = edit && blocktick.any?
  - abso  = edit && blockabso.any?

  = f.labeled_input_field :remaining_hours, addon: 'h'
  = f.labeled_input_field :portfolio_item_id, span: 5
  = f.labeled_input_field :service_id, span: 5
  = f.labeled_input_field :market_opportunity_id, span: 5

  = f.labeled_input_field :billable, caption: 'Budgetposition ist standardmässig verrechenbar'
  - if Settings.meal_compensation.active
    = f.labeled_input_field :meal_compensation, caption: 'Verpflegungsentschädigung standardmässig vorsehen'

  = f.labeled_input_field :description_required, caption: 'Beschreibung obligatorisch', disabled: desc
  = f.labeled_input_field :ticket_required, caption: 'Ticket obligatorisch', disabled: tick
  = f.labeled_input_field :from_to_times_required, caption: 'Von-Bis Zeiten obligatorisch', disabled: abso
  - if desc || tick || abso
    .form-group
      .col-md-2
      .help-block.col-md-5
        Die Einstellungen zur Beschreibung, Ticket oder Von-Bis-Zeiten können nicht geändert werden, da bereits Leistungen ohne diese Angaben erfasst wurden.
