= render 'orders/header'

.orders-cockpit

  - if @cockpit.accounting_posts.present?
    .cockpit-header
      = render 'cockpit_header'

    .unindented
      .cockpit-table
        = render 'cockpit_table'

  .orders-actions
    = link_to(new_order_accounting_post_path(@order)) do
      = picon('add')
      Buchungsposition hinzufügen
