-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = ti(:title, model: "#{models_label(false)} von #{h(parent)}")

= crud_form data: { needs_confirmation: @needs_confirmation } do |f|
  = f.labeled_input_fields :start_date, :end_date
  = f.labeled_input_field :percent, min: 0, max: 200, step: 2.5
  = f.labeled_input_field :vacation_days_per_year, help: 'Feld leer lassen, um den Wert aus den allgemeinen Anstellungsbedingungen zu verwenden.'
  = f.labeled :employment_roles_employments do
    = f.nested_fields_for :employment_roles_employments,
                          entry.employment_roles_employments,
                          wrapper_tag: :div do |fields|
      = fields.hidden_field :id
      .row
        .col-md-5
          = fields.collection_select :employment_role_id,
                                     @employment_roles,
                                     :id,
                                     :to_s,
                                     { prompt: ta(:please_select) },
                                     class: 'form-control',
                                     placeholder: 'Funktion'
        .col-md-3
          = fields.collection_select :employment_role_level_id,
                                     @employment_role_levels,
                                     :id,
                                     :to_s,
                                     { prompt: ta(:please_select),
                                       include_blank: true },
                                     class: 'form-control',
                                     placeholder: 'Stufe'
        .col-md-2
          = fields.number_field :percent, min: 0, max: 200, step: 2.5
        .col-md-1.form-action
          = fields.remove_nested_fields_link(picon('delete',
                                                   title: 'Funktion entfernen',
                                                   class: 'remove-employment-role'))
    .row
      .col-md-1.form-action
        = f.add_nested_fields_link(:employment_roles_employments,
                                   picon(:add, title: 'Funktion hinzufügen'))
        = spinner

  = f.labeled_text_area :comment
