-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= f.labeled :employee_ids do
  #employee_checkboxes
    = render 'period_employees'

= f.labeled :work_item_ids do
  #work_item_checkboxes
    = render 'period_work_items'

= f.labeled :invoice_flatrates do
  #invoice_flatrates
    = render 'invoice_flatrates_list'

= f.labeled :invoice_posts do
  %p.form-control-static='Gruppieren nach:'
  .radio
    %label
      = radio_button(:invoice, :grouping, 'accounting_posts', checked: entry.grouping != 'employees')
      Buchungspositionen
  .radio
    %label
      = radio_button(:invoice, :grouping, 'employees')
      Members

%hr

= f.labeled_static_field :calculated_total_amount, id: 'invoice_total_amount'

= f.labeled_static_field :calculated_total_hours, id: 'invoice_total_hours'
%hr
