= f.labeled :employee_ids do
  #employee_checkboxes
    = render 'period_employees'

= f.labeled :work_item_ids do
  #work_item_checkboxes
    = render 'period_work_items'

= f.labeled :invoice_posts do
  %p.form-control-static='Gruppieren nach:'
  .radio
    %label
      = radio_button(:invoice, :grouping, 'accounting_posts')
      Buchungspositionen
  .radio
    %label
      = radio_button(:invoice, :grouping, 'employees')
      Members

%hr

= f.labeled_static_field :calculated_total_amount, id: 'invoice_total_amount'

%hr
