= render 'orders/header'

%h1.h3.top= @title

= crud_form html: {  class: 'invoice' } do |f|
  = hidden_field_tag(:order_id, order.id)
  = f.labeled_input_field :period_from, caption: 'Leistungsperiode von'
  = f.labeled_input_field :period_to
  = f.labeled :manual_invoice do
    .checkbox
      %label
        = check_box_tag :manual_invoice, 1, entry.manual_invoice?, data: { hide: '#invoice_filters' }

  %hr

  #invoice_filters
    = render 'filter_fields', f: f

  = f.labeled_input_fields :billing_date, :due_date

  = f.labeled_belongs_to_field :billing_client_id,
                               list: @billing_clients,
                               class: 'searchable',
                               required: true,
                               data: { remote: true,
                                       url: billing_addresses_order_invoices_path(order_id: order.id) }

  = f.labeled :billing_address do
    #billing_addresses
      = render 'billing_addresses_fields'

- content_for(:javascript) do
  new window.App.FormUpdater("#{preview_total_order_invoices_path(id: entry.id, format: :js)}", 'change', 'form.invoice', 'form.invoice');
  new window.App.FormUpdater("#{filter_fields_order_invoices_path(id: entry.id, format: :js)}", 'change', 'form.invoice', 'input#invoice_period_from', 'input#invoice_period_to');
