-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= render 'orders/header'

%h1.h3.top= @title

= crud_form html: {  class: 'invoice' } do |f|
  = hidden_field_tag(:order_id, order.id)
  = f.labeled_input_field :period_from, caption: 'Leistungsperiode von'
  = f.labeled_input_field :period_to
  = f.labeled :period_shortcut_selection, span: 2 do
    = select_tag  :period_shortcut,
                  options_from_collection_for_select(predefined_past_period_options, :id, :to_s, @period&.shortcut || ''),
                  {prompt: 'benutzerdefiniert', data: {}, :class=>"form-control"}

  = f.labeled :manual_invoice do
    .checkbox
      %label
        = check_box_tag :manual_invoice, 1, entry.manual_invoice?, data: { hide: '#invoice_filters' }

  %hr

  #invoice_filters
    = render 'filter_fields', f: f

  = f.labeled_input_fields :billing_date, :due_date

  = f.labeled_belongs_to_field :billing_client_id,
                               list: @billing_clients,
                               class: 'searchable',
                               required: true,
                               data: { remote: true,
                                       url: billing_addresses_order_invoices_path(order_id: order.id) }

  = f.labeled :billing_address do
    #billing_addresses
      = render 'billing_addresses_fields'

- content_for(:javascript) do
  var filter_fields_trigger = new window.App.FormUpdaterTrigger('change', 'input#invoice_period_from', 'input#invoice_period_to', 'select#period_shortcut')
  var calculate_total_trigger = new window.App.FormUpdaterTrigger('change', '#employee_checkboxes', '#work_item_checkboxes', '#manual_invoice')

  var filter_fields_action = new window.App.FormUpdaterAction("#{filter_fields_order_invoices_path(id: entry.id, format: :js)}", 'form.invoice')
  var calculate_total_action = new window.App.FormUpdaterAction("#{preview_total_order_invoices_path(id: entry.id, format: :js)}", 'form.invoice')

  new window.App.FormUpdater(filter_fields_trigger, filter_fields_action, calculate_total_action);
  new window.App.FormUpdater(calculate_total_trigger, calculate_total_action);
