- @title ||= ti(:title, model: models_label(false))

= render 'orders/header'

= crud_form url: order_contract_path(order_id: parent),
            cancel_url: false,
            method: :put do |f|

  = f.labeled_input_field :number, placeholder: 'Bestell- oder Vertragsnummer des Kunden',
                                   help: 'erscheint auf Rechnung'

  .form-group{class: "#{f.errors?(:start_date) || f.errors?(:end_date) ? 'has-error' : nil}"}
    = f.label(:start_date, 'Vertragsdauer von', class: 'col-md-2 control-label required')
    .col-md-2= f.input_field :start_date
    = f.label :end_date, "bis", class: 'col-md-1 control-label'
    .col-md-2= f.input_field :end_date

  = f.labeled_input_field :payment_period, span: 1, help: 'Tage'
  = f.labeled_input_field :reference, placeholder: 'Referenz des Kunden',
                                      help: 'erscheint auf Rechnung'
  = f.labeled_input_field :notes, placeholder: 'Weitere Vereinbarungen'
  = f.labeled_input_field :sla
