- @title = "#{list_label} #{of_group_label}"

%table.striped
  %thead
    %tr
      %th= list_label
      %th Projektleitung
  %tbody
    - for membership in @subject.projectmemberships.where(active: true).sort_by {|m| m.project }
      %tr
        %td
          = project? ? membership.employee.label : membership.project.label_verbose
        %td{:align => "center"}
          - if project? || @user.management?
            - if membership.projectmanagement
              = link_to 'Entfernen', pm_link_params(:action => 'remove_manager', :id => membership)
            - else
              = link_to 'Hinzufügen', pm_link_params(:action => 'create_manager', :id => membership)
          - else
            = membership.projectmanagement ? 'ja' : 'nein'
        %td
          = link_to 'Vom Projekt entfernen',
                    pm_link_params(:action => 'remove_membership', :id => membership),
                    :confirm => "Wollen Sie #{membership.employee.label} wirklich vom Projekt #{membership.project.label} entfernen?",
                    :method => 'post'

%p
  = form_tag pm_link_params(:action => 'create_membership') do
    = list_label
    \:
    %br/
    = select_tag 'ids[]', options_from_collection_for_select(@list, :id, :label_verbose), :multiple => true, :size => 15
    = submit_tag 'Hinzufügen'
- if params[:groups]
  %p
    = link_to "Übersicht #{group.class.label_plural}", group_params({:controller => group.class.to_s.downcase, :action => 'list'})
