%h1
  Mitarbeiterliste bearbeiten
= error_messages_for 'employee_list'
- form_for @employee_list do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Änderungen speichern"

= link_to 'Anzeigen', @employee_list
|
= link_to 'Zur&uuml;ck', :controller => 'planning', :action => 'employee_lists'
