%h1
  Mitarbeiterliste bearbeiten
= render 'shared/error_messages', object:  @employee_list
= form_for @employee_list do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Änderungen speichern"

= link_to 'Anzeigen', @employee_list
|
= link_to 'Zurück', :controller => 'plannings', :action => 'employee_lists'
