%h1
  Neue Mitarbeiterliste
= error_messages_for @employee_list
= form_for @employee_list do |f|
  = render :partial => 'form', :locals => { :f => f}
  %p
    = f.submit "Liste Speichern"

= link_to 'Zurück', :controller => 'planning', :action => 'employee_lists'
