-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.row.order_comment
  .col-md-1
    = "#{total_count - order_comment_counter}."
  .col-md-1
    .row.creator_name
      = order_comment.creator.to_s
    .row.updated_at
      = f(order_comment.updated_at.in_time_zone('Bern'))
    - if can?(:edit, order_comment)
      .row.edit.text-right
        = link_to(picon('edit'),
                  edit_order_order_comment_path(@order, order_comment))
  .col-md-8
    = auto_link(simple_format(order_comment.text))
