-#  Copyright (c) 2006-2023, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

BEGIN:VCARD
VERSION:3.0
N:#{employee.lastname};#{employee.firstname};;;
FN:#{[employee.firstname, employee.lastname].compact.join(' ')}
- if employee.street.present? || employee.city.present? || employee.postal_code.present?
  ADR;TYPE=HOME,PREF:;;#{employee.street};#{employee.city};;#{employee.postal_code};
- if employee.phone_office.present?
  TEL;TYPE=WORK,VOICE:#{employee.phone_office}
- if employee.phone_private.present?
  TEL;TYPE=CELL,PREF,VOICE:#{employee.phone_private}
EMAIL;TYPE=WORK,PREF:#{employee.email}
- if employee.birthday.present?
  BDAY:#{employee.birthday.strftime('%Y%m%d')}
END:VCARD
