-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= model_nav Employee
= model_nav Client
= model_nav Department
= model_nav Holiday
= model_nav Absence
= model_nav UserNotification
= model_nav OrderKind
= model_nav OrderStatus
= model_nav PortfolioItem
= model_nav Service
= model_nav Sector
= model_nav TargetScope
= model_nav WorkingCondition
= model_nav EmploymentRole
= model_nav EmploymentRoleLevel
= model_nav EmploymentRoleCategory
