- if @user.management || @user.project_manager?
  Verwalte:
  \&nbsp;
  \#{link_to 'Zugeh&ouml;rigkeiten', :controller => 'projectmembership'}
  \&nbsp;
  \#{link_to 'Projekte', :controller => 'project', :action => 'list'}
- if @user.management
  \&nbsp;
  \#{link_to 'Kunden', :controller => 'client'}
  \&nbsp;
  \#{link_to 'Bereiche', :controller => 'department'}
  \&nbsp;
  \#{link_to 'Mitarbeiter', :controller => 'employee'}
  \&nbsp;
  \#{link_to 'Absenzen', :controller => 'absence'}
  \&nbsp;
  \#{link_to 'Feiertage', :controller => 'holiday'}
  \&nbsp;
  \#{link_to 'Nachrichten', :controller => 'user_notification'}
