- if @user.management
  = nav 'Mitarbeiter', employees_path, employees_path
  = nav 'Kunden', clients_path, clients_path
- if @user.management
  = nav 'Projekte', projects_path, projects_path
  = nav 'Organisationseinheiten', departments_path, departments_path
  = nav 'Feiertage', holidays_path, holidays_path
  = nav 'Absenzarten', absences_path, absences_path
  = nav 'Nachrichten', user_notifications_path, user_notifications_path
  = nav 'Auftragsarten', order_kinds_path, order_kinds_path
  = nav 'Auftragsstati', order_statuses_path, order_statuses_path
  = nav 'Portfolio Positionen', portfolio_items_path, portfolio_items_path
  = nav 'Zielwerte', target_scopes_path, target_scopes_path
