- if @user.management
  = nav 'Mitarbeiter', employees_path, employees_path
  = nav 'Kunden', clients_path, clients_path
- if @user.management || @user.project_manager?
  = nav 'Zugehörigkeiten', employee_memberships_path, employee_memberships_path
  = nav 'Projekte', projects_path, projects_path
- if @user.management
  = nav 'Organisationseinheiten', departments_path, departments_path
  = nav 'Feiertage', holidays_path, holidays_path
  = nav 'Absenzarten', absences_path, absences_path
  = nav 'Nachrichten', user_notifications_path, user_notifications_path
