- @title = "#{newLabel} #{groupLabel}"
= renderGenericPartial :partial => 'info'
- form_tag linkParams(:action => 'create') do
  = renderGenericPartial :partial => 'form'
= renderGenericPartial :partial => 'backlink'
