- @title = "#{model_class.label} l&ouml;schen"
%p
  Wollen sie #{@entry.label} wirklich entfernen?
%table
  %tr
    %td
      = form_tag link_params(:action => 'delete', :id => @entry) do
        = submit_tag 'Löschen'
    %td
      = form_tag link_params(:action => 'list'), {:method => 'get'} do
        = submit_tag 'Abbrechen'
