- @title = "#{@entry.class.label} #{groupLabel} bearbeiten"
= render :partial => 'info'
= form_tag linkParams(:action => 'update', :id => @entry) do
  = render :partial => 'form'
= render :partial => 'backlink'
- for action in controller.listActions
  = '|' if displayLink? action, @entry
  = actionLink action, @entry
