- @title = "#{modelClass.labelPlural} #{groupLabel}"
= renderGenericPartial :partial => 'info'
%table
  %tr
    - for field in listFields
      %th
        = field[1]
  - for entry in @entries
    = alternate_row('valign="top"')
    - for field in listFields
      = dataField entry, field[0]
    - for action in controller.listActions
      %td= actionLink action, entry
    - if editFields.size > 0
      %td= link_to 'Bearbeiten', linkParams(:action => 'edit', :id => entry)
    - if modelClass.local?
      %td= link_to 'L&ouml;schen', linkParams(:action => 'confirmDelete', :id => entry)
- if @entry_pages.page_count > 1
  %p
    Seite: #{pagination_links(@entry_pages, :window_size => PAGINATION_WINDOW_SIZE, :params => linkParams)}
%br/
%p
  - if modelClass.local?
    = link_to newLabel, linkParams(:action => 'add')
  - if group
    = '|' if modelClass.local?
    = link_to "&Uuml;bersicht #{group_label}", group_params({:controller => group.class.to_s.downcase, :action => 'list'})
  - elsif ! modelClass.local?
    = link_to 'Synchronisieren', linkParams({:action => 'synchronize', :page => params[:page]}), :method => :post
