- @title = "#{modelClass.labelPlural} #{groupLabel}"
= renderGenericPartial :partial => 'info'
%table.striped
  %thead
    %tr
      - for field in listFields
        %th
          = field[1]
  %tbody
    - for entry in @entries.sort
      %tr{valign: 'top'}
        - for field in listFields
          = dataField entry, field[0]
        - for action in controller.listActions
          %td= actionLink action, entry
        - if editFields.size > 0
          %td= link_to 'Bearbeiten', linkParams(:action => 'edit', :id => entry)
        - if modelClass.local?
          %td= link_to 'L&ouml;schen', linkParams(:action => 'confirmDelete', :id => entry)

- if @entries.total_pages > 1
  %p
    Seite:
    = paginate @entries
%br/

%p
  - if modelClass.local?
    = link_to newLabel, linkParams(:action => 'add')
  - if group
    = '|' if modelClass.local?
    = link_to "&Uuml;bersicht #{group_label}", group_params({:controller => group.class.to_s.downcase, :action => 'list'})
  - elsif ! modelClass.local?
    = link_to 'Synchronisieren', linkParams({:action => 'synchronize', :page => params[:page]}), :method => :post
