- @title = "#{model_class.label_plural} #{of_group_label}"
= render :partial => 'info'
%table.striped
  %thead
    %tr
      - for field in list_fields
        %th
          = field[1]
  %tbody
    - for entry in @entries.sort
      %tr{valign: 'top'}
        - for field in list_fields
          = data_field entry, field[0]
        - for action in controller.list_actions
          %td= action_link action, entry
        - if edit_fields.size > 0
          %td= link_to 'Bearbeiten', link_params(:action => 'edit', :id => entry)
        - if model_class.local?
          %td= link_to 'Löschen', link_params(:action => 'confirm_delete', :id => entry)

- if @entries.total_pages > 1
  %p
    Seite:
    = paginate @entries
%br/

%p
  - if model_class.local?
    = link_to new_label, link_params(:action => 'add')
  - if group
    = '|' if model_class.local?
    = link_to "Übersicht #{group_label}", group_params({:controller => group.class.to_s.downcase, :action => 'list'})
  - elsif ! model_class.local?
    = link_to 'Synchronisieren', link_params({:action => 'synchronize', :page => params[:page]}), :method => :post
