- @title = "#{modelClass ? modelClass.labelPlural : 'Alles'} synchronisieren"
%table.striped
  %thead
    %tr
      %th Objekt
      %th Bezeichnung
      %th Fehler
  %tbody
  - for obj in @errors
    %tr
      %td= obj.class.label
      %td= obj.debugString
      %td
        - obj.errors.each do |attr, msg|
          = msg
          %br/

= render :partial => 'backlink'
