- @title = "#{model_class ? model_class.label_plural : 'Alles'} synchronisieren"
%table.striped
  %thead
    %tr
      %th Objekt
      %th Bezeichnung
      %th Fehler
  %tbody
  - for obj in @errors
    %tr
      %td= obj.class.label
      %td= obj.debug_string
      %td
        - obj.errors.each do |attr, msg|
          = msg
          %br/

= render :partial => 'backlink'
