-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

- if can?(:read, Employee)
  = nav 'Memberliste',
        employee_master_data_path,
        employee_master_data_path

- if can?(:employees, Evaluation)
  = nav 'Zeiten',
        evaluation_path('employees', clear: 1),
        evaluation_path('employees'),
        evaluation_path('employeeworkitems'),
        evaluation_path('employeesubworkitems'),
        '/weekly_graph'

- if can?(:absences, Evaluation)
  = nav 'Absenzen',
        evaluation_path('absences', clear: 1),
        evaluation_path('absences'),
        evaluation_path('employeeabsences')

- if can?(:read, Worktime)
  = nav 'Auslastung', reports_workload_path

= nav 'Ferienplan', vacations_path

-if can?(:export_report, Evaluation)
  = nav 'Exporte',
        reports_export_path

- if Settings.meal_compensation.active
  - if can?(:meal_compensation, Evaluation)
    = nav 'Verpflegungsentschädigungen', meal_compensations_path
