-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= crud_form do |f|
  = f.fields_for :work_item, entry.work_item do |fields|
    = render 'work_items/fields', fields: fields

  = f.labeled_input_field :sector_id

  = f.labeled_input_field :e_bill_account_key

  - if Crm.instance
    = f.labeled_input_field :crm_key,
                            caption: Crm.instance.crm_key_name,
                            span: 2,
                            help: crm_client_link(entry)
    - if Crm.instance.restrict_local?
      = f.labeled_input_field :allow_local,
                              detail: "Nur für Kunden mit diesem Flag können Aufträge ohne #{Crm.instance.crm_key_name} erstellt werden."
