- @title ||= 'Spesen freigeben'
- receipt = entry.receipt

.row.columns
  .col-12.col-md-7
    .pull-right
      %a{data: {toggle: :collapse, target: '.inlineedit'}}
        %i.icon-edit.primary.h4.text-primary
    .inlineedit.collapse.in
      = render_attrs(entry, :payment_date, :employee_id, :amount, :kind_value, :description)

    .inlineedit.collapse
      = standard_form(entry, cancel_url: expense_review_path(entry)) do |f|
        = hidden_field_tag :review, 1
        = render 'expenses/fields', f: f, parent: false

    .inlineedit.collapse.in
      = render 'form'

  .col-12.col-md-5
    - if attachment_displayable?(receipt)
      = attachment_image_tag receipt, class: 'img-responsive', show_link: true
    - else
      %h3 Keine Vorschau verfügbar
