%table.static
  %tr
    %th &nbsp;

  - @cockpit.rows.each do |row|
    = render "cockpit_#{row.class.name.demodulize.underscore}_head", row: row

.scrollable
  %table
    %tr 
      / First line should be fixed
      / {:data => {:spy => "affix", :top => "-"}}
      %th{title: 'Budgetierte Stunden und Betr채ge.'}
        %span
          Budget
          = picon('info')
      %th{title: 'Die effektive Leistung entspricht der erfassten Arbeitszeit und ist unabh채ngig von der Verrechenbarkeit. '}
        %span
          Leistungen
          = picon('info')
      %th{title: 'Die verrechnete Leistung entspricht den tats채chlich in Rechnung gestellten Leistungen.'}
        %span
          Verrechnet
          = picon('info')
      %th{title: 'Differenz zwischen verrechneter Leistung und effektiver Leistung.'}
        %span
          Offene Leistungen
          = picon('info')
      %th{title: 'Durch den Auftragsverantwortlichen im Rahmen der Zeitbereinigung als nicht verrechenbar markierte Leistungen.'}
        %span
          Nicht verrechenbar
          = picon('info')
      %th{title: 'Gesch채tzter Aufwand pro Buchungsposition bis der Auftrag abgeschlossen werden kann.'}
        %span
          Restaufwand
          = picon('info')
      %th{title: 'Differenz zwischen verrechneter Leistung und budgetierter Leistung.'}
        %span
          Offenes Budget
          = picon('info')

    - @cockpit.rows.each do |row|
      %tr
        - row.cells.each do |key, cell|
          %td
            .data-item
              - if cell.hours
                %span.figure= f(cell.hours)
                %span.unit Std.
            .data-item
              - if cell.days
                %span.figure= f(cell.days)
                %span.unit Tage
            .data-item
              - if cell.amount
                %span.figure= f(cell.amount)
                %span.unit CHF