= f.labeled(:order_team_members, caption: "Team") do
  = f.nested_fields_for :order_team_members, wrapper_tag: :div do |fields|
    .row
      .col-md-5
        = fields.input_field(:employee_id, class: 'searchable', placeholder: 'Member')
      .col-md-6
        = fields.input_field(:comment, placeholder: 'Rolle im Projekt')
      .col-md-1.form-action
        = fields.remove_nested_fields_link(icon('remove', title: 'Teammitglied entfernen'))
  .row
    .col-md-1.form-action
      = f.add_nested_fields_link :order_team_members, icon(:plus, title: 'Teammitglied hinzufügen')
