= f.labeled(:order_contacts) do
  -# No .list to keep changed items after a failed update
  = f.nested_fields_for(:order_contacts, entry.order_contacts, wrapper_tag: :div) do |fields|
    .row
      .col-md-5
        = fields.collection_select(:contact_id_or_crm,
                                   @contacts,
                                   :id_or_crm,
                                   :to_s,
                                   { prompt: ta(:please_select) },
                                   class: 'form-control searchable',
                                   placeholder: 'Ansprechsperson')
      %div{ class: "col-md-#{ Crm.instance ? '4' : '6' }" }
        = fields.input_field(:comment, placeholder: 'Funktion')
      - if Crm.instance
        .col-md-2.help-block
          = crm_contact_link(fields.object.contact)
      .col-md-1.form-action
        = fields.remove_nested_fields_link(picon('delete', title: 'Ansprechsperson entfernen'), class: 'remove-order-contact')
  .row
    .col-md-1.form-action
      = f.add_nested_fields_link(:order_contacts, picon(:add, title: 'Ansprechsperson hinzufügen'))
      = spinner
