
= form_tag(nil, method: :get, class: 'form-inline', role: 'form') do
  = hidden_field_tag :page, 1

  = order_filter_select(:department_id, 'Bereich', @departments)
  = order_filter_select(:kind_id, 'Auftragsart', @order_kinds)
  = order_filter_select(:status_id, 'im Status', @order_statuses)
