- if @order.persisted?
  = render 'orders/header'


= crud_form cancel_url: polymorphic_url(entry, returning: true) do |f|

  - if entry.new_record?
    = render('crm_field', f: f) if Crm.instance
    = render 'client_field', f: f
    = render 'category_field', f: f

  = f.fields_for :work_item, entry.work_item do |fields|
    = render 'work_items/fields',
             fields: fields,
             exclude: entry.persisted? && Crm.instance && entry.crm_key? ? [:name] : []

  - if entry.persisted? && Crm.instance
    = render('crm_field', f: f)

  - if entry.persisted?
    = f.labeled(:order_contacts, caption: "Ansprechspersonen Kunde") do
      = f.nested_fields_for :order_contacts, wrapper_tag: :div do |ff|
        = render 'order_contacts_fields', f: ff
      .row
        .col-md-1.form-action
          = f.add_nested_fields_link :order_contacts, icon(:plus, title: 'Ansprechsperson hinzufügen')

  = f.labeled_input_field :department_id, class: 'searchable'
  = f.labeled_input_field :responsible_id, class: 'searchable'
  = f.labeled_input_field :kind_id, class: 'searchable'
  = f.labeled_input_field :status_id, class: 'searchable'

  = f.labeled(:order_team_members, caption: "Team") do
    = f.nested_fields_for :order_team_members, wrapper_tag: :div do |ff|
      = render 'order_team_members_fields', f: ff
    .row
      .col-md-1.form-action
        = f.add_nested_fields_link :order_team_members, icon(:plus, title: 'Teammitglied hinzufügen')

= render 'shared/modal'
