= crud_form do |f|

  - if entry.new_record?

    .form-group
      = label_tag(:client_id, 'Kunde', class: 'col-md-2 control-label')
      .col-md-8
        = select_tag(:client_id,
                     options_from_collection_for_select(@clients, :id, :to_s),
                     prompt: ta(:please_select),
                     class: 'searchable')
        %p.help-block
          = new_modal_link(new_client_path(format: :js), 'Kunde erfassen')

    .form-group
      = label_tag(:category_id, class: 'col-md-2 control-label') do
        -# add toggle checkbox with disable
        = check_box_tag :category_active
        &nbsp;
        Kategorie
      .col-md-8
        -# TODO update when client changed
        = select_tag(:category_id,
                     "",
                     include_blank: true,
                     class: 'searchable')
        %p.help-block
          = new_modal_link(new_work_item_path(format: :js), 'Kategorie erfassen')

  = f.fields_for :work_item, entry.work_item do |fields|
    = fields.labeled_input_field :name
    = fields.labeled_input_field :shortname

  = f.labeled_input_field :department_id, class: 'searchable'
  = f.labeled_input_field :responsible_id, class: 'searchable'
  = f.labeled_input_field :kind, class: 'searchable'
  = f.labeled_input_field :employee_ids, class: 'searchable', multi: true


= render 'shared/modal'
