
%p
  = render 'filters'

- if entries.present?
  .unindented
    %table.orders-list.table.table-hover
      %thead
        %tr
          %th
            = sort_link(:client)
            %br/
            = sort_link(:order)
          %th
            = sort_link(:kind)
            %br/
            = sort_link(:department)
          %th
            = sort_link(:responsible)
            %br/
            = Order.human_attribute_name(:order_team_members)
          %th
            = sort_link(:status)
          - @target_scopes.each do |scope|
            %th.large= sort_link("target_scope_#{scope.id}", icon(scope.icon, title: scope.name))

      %tbody
        - entries.each do |order|
          %tr
            %td
              =order.parent_names
              %br/
              %span.title
                = link_to_if(can?(:show, order),
                             order,
                             can?(:update, order) ? edit_order_path(order) : order_path(order))
            %td
              = order.kind
              %br/
              %span.muted= order.department
            %td
              = picon('user')
              = format_attr(order, :responsible)
              %br
              = picon('group')
              /
              = order_team_enumeration(order)
            %td
              %span{class: "label label-#{order.status.style}"}
                = order.status.name
            - @target_scopes.each do |scope|
              %td
                = order_target_icon(order.targets.find { |t| t.target_scope_id == scope.id })

- else
  .table= ti(:no_list_entries)
