-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

- if can?(:read, Order)
  - path = polymorphic_path(Order)
  = nav('Auftragsliste', path, path)

- if can?(:reports, Order)
  = nav 'Auftrags-Controlling',
        reports_orders_path(clear: 1, status_preselection: 'not_closed'),
        reports_orders_path

- if can?(:managed, Evaluations::Evaluation)
  = nav 'Meine Aufträge', evaluation_path('managed', clear: 1)

- if can?(:reports, Invoice)
  = nav 'Rechnungs-Controlling',
        reports_invoices_path(clear: 1),
        reports_invoices_path

- if can?(:clients, Evaluations::Evaluation)
  = nav 'Kunden',
        evaluation_path('clients', clear: 1),
        evaluation_path('clients'),
        evaluation_path('clientworkitems'),
        evaluation_path('workitememployees'),
        evaluation_path('subworkitems')

- if can?(:departments, Evaluations::Evaluation)
  = nav 'Organisationseinheiten',
        evaluation_path('departments', clear: 1),
        evaluation_path('departments'),
        evaluation_path('departmentorders')

- if can?(:revenue_reports, Department)
  = nav 'Umsatz', reports_revenue_path
