%ul.nav.nav-tabs
  = nav 'Details', order_path(@order)
  - if can?(:cockpit, @order)
    = nav 'Cockpit',
          cockpit_order_path(@order),
          accounting_posts_path

  - if can?(:services, @order)
    = nav 'Leistungen',
          order_order_services_path(@order),
          order_multi_worktimes_path(@order),
          edit_order_multi_worktimes_path(@order)
  = nav 'Ziele', order_order_targets_path(@order), order_order_targets_path(@order) if can?(:show_targets, @order)
  //= nav 'Vertrag', ''
  = nav 'Journal', order_order_comments_path(@order) if can?(:comments, @order)
  //= nav 'Rechnungen', bills_order_path(entry)