%ul.nav.nav-tabs
  = nav 'Details', order_path(entry)
  = nav 'Cockpit', cockpit_order_path(entry)
  = nav 'Journal', order_order_comments_path(entry)
  = nav 'Ziele', order_order_targets_path(entry)
  = nav 'Leistungen', services_order_path(entry)
