%ul.nav.nav-tabs
  = nav 'Details', order_path(entry)
  = nav 'Cockpit', cockpit_order_path(entry)
  = nav 'Ziele', targets_order_path(entry)
  = nav 'Rechnungen', bills_order_path(entry)
  = nav 'Zeitbereinigung', time_corrections_order_path(entry)
