%ul.nav.nav-tabs
  = nav 'Details', edit_order_path(@order), edit_order_path(@order)

  - if can?(:cockpit, @order)
    = nav 'Cockpit',
          cockpit_order_path(@order),
          accounting_posts_path

  - if can?(:manage, @order)
    = nav 'Vertrag',
          edit_order_contract_path(@order)


  - if can?(:services, @order)
    = nav 'Leistungen',
          order_order_services_path(@order),
          order_multi_worktimes_path(@order),
          edit_order_multi_worktimes_path(@order),
          compose_report_order_order_services_path(@order)

  - if TargetScope.exists? && can?(:show_targets, @order)
    = nav 'Ziele',
          order_order_targets_path(@order),
          order_order_targets_path(@order)

  //= nav 'Vertrag', ''

  - if can?(:comments, @order)
    = nav 'Journal', order_order_comments_path(@order)

  //= nav 'Rechnungen', bills_order_path(entry)