-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%ul.nav.nav-tabs
  - if can?(:update, @order)
    = nav 'Details',
          edit_order_path(@order),
          edit_order_path(@order)
  - elsif can?(:show, @order)
    = nav 'Details', order_path(@order)

  - if can?(:accounting_posts, @order)
    = nav 'Positionen',
          order_accounting_posts_path(@order),
          order_accounting_posts_path(@order)

  - if can?(:edit_contract, @order)
    = nav 'Vertrag', edit_order_contract_path(@order)
  - elsif can?(:show_contract, @order)
    = nav 'Vertrag', order_contract_path(@order)

  - if can?(:services, @order)
    = nav 'Leistungen',
          order_order_services_path(@order, invoice_id: OrderServicesController::EMPTY),
          order_multi_worktimes_path(@order),
          edit_order_multi_worktimes_path(@order),
          compose_report_order_order_services_path(@order)

  - if can?(:show_invoices, @order)
    = nav 'Rechnungen',
          order_invoices_path(@order),
          order_invoices_path(@order)

  - if can?(:show_plannings, @order)
    = nav 'Planung',
          order_order_plannings_path(@order),
          order_order_plannings_path(@order)

  - if TargetScope.exists? && can?(:show_targets, @order)
    = nav 'Ziele',
          order_order_targets_path(@order),
          order_order_targets_path(@order)

  - if can?(:show_uncertainties, @order)
    = nav 'Chancen/Risiken',
          order_order_uncertainties_path(@order),
          order_order_uncertainties_path(@order),
          order_order_risks_path(@order),
          order_order_chances_path(@order)

  - if can?(:show_comments, @order)
    = nav 'Journal',
          order_order_comments_path(@order),
          order_order_comments_path(@order)
