= render 'header'

.orders-cockpit

  - if @cockpit.accounting_posts.present?
    .cockpit-header
      = render 'cockpit_header'

    .cockpit-table.unindented
      = render 'cockpit_table'

  .orders-actions
    = link_to(new_accounting_post_path(order_id: entry.id)) do
      = picon('add')
      Buchungsposition hinzufügen

    = link_to('#') do
      = picon('duplicate')
      Auftrag duplizieren
