= render 'header'

.orders-cockpit
  .cockpit-header
    = render 'cockpit_header'

  .cockpit-table.unindented
    %table.static
      %tr
        %th &nbsp;

      %tr
        %td
          .title Total

      %tr
        %td
          .title
            %a{href: '#'} Konzeption
          .subtitle User Experience
          .data-item
            %span.figure 190.00
            %span.unit CHF/Std.

      %tr
        %td
          .title
            %a{href: '#'} Realisierung
          .subtitle Ruby on Rails
          .data-item
            %span.figure 170.00
            %span.unit CHF/Std.

    .scrollable
      %table
        %tr
          %th{title: 'Help text'}
            = picon('info')
            Budget
          %th{title: 'Help text'}
            = picon('info')
            Leistungen
          %th{title: 'Help text'}
            = picon('info')
            Verrechnet
          %th{title: 'Help text'}
            = picon('info')
            Offene Leistungen
          %th{title: 'Help text'}
            = picon('info')
            Nicht verrechenbar
          %th{title: 'Help text'}
            = picon('info')
            Restaufwand
          %th{title: 'Help text'}
            = picon('info')
            Offenes Budget

        %tr
          %td
            .data-item
              %span.figure 120
              %span.unit Std.
            .data-item
              %span.figure 15
              %span.unit Tage
            .data-item
              %span.figure 21'600.00
              %span.unit CHF

          %td
            .data-item
              %span.figure 120
              %span.unit Std.
            .data-item
              %span.figure 15
              %span.unit Tage
            .data-item
              %span.figure 21'600.00
              %span.unit CHF

          %td
            .data-item
              %span.figure 120
              %span.unit Std.
            .data-item
              %span.figure 15
              %span.unit Tage
            .data-item
              %span.figure 21'600.00
              %span.unit CHF

          %td
            .data-item
            .data-item
              %span.figure 10
              %span.unit Std.
            .data-item

          %td
            .data-item
            .data-item
            .data-item
              %span.figure 10
              %span.unit Std.

          %td
            .data-item
              %span.figure 10
              %span.unit Std.
            .data-item
            .data-item

          %td
            .data-item
            .data-item
            .data-item

        %tr
          %td
            .data-item
              %span.figure 60
              %span.unit Std.
            .data-item
              %span.figure 7.5
              %span.unit Tage
            .data-item
              %span.figure 11'400.00
              %span.unit CHF

          %td
            .data-item
              %span.figure 60
              %span.unit Std.
            .data-item
              %span.figure 7.5
              %span.unit Tage
            .data-item
              %span.figure 11'400.00
              %span.unit CHF

          %td
            .data-item
            .data-item
            .data-item

          %td
            .data-item
            .data-item
            .data-item

          %td
            .data-item
            .data-item
            .data-item

          %td
            .data-item
            .data-item
            .data-item

        %tr
          %td
            .data-item
              %span.figure 60
              %span.unit Std.
            .data-item
              %span.figure 7.5
              %span.unit Tage
            .data-item
              %span.figure 10'200.00
              %span.unit CHF

          %td
            .data-item
              %span.figure 60
              %span.unit Std.
            .data-item
              %span.figure 7.5
              %span.unit Tage
            .data-item
              %span.figure 10'200.00
              %span.unit CHF

          %td
            .data-item
              %span.figure 60
              %span.unit Std.
            .data-item
              %span.figure 7.5
              %span.unit Tage
            .data-item
              %span.figure 10'200.00
              %span.unit CHF

          %td
            .data-item
              %span.figure 60
              %span.unit Std.
            .data-item
              %span.figure 7.5
              %span.unit Tage
            .data-item
              %span.figure 10'200.00
              %span.unit CHF

          %td
            .data-item
            .data-item
            .data-item

          %td
            .data-item
            .data-item
            .data-item

          %td
            .data-item
            .data-item
            .data-item

  .orders-actions
    = link_to('#') do
      = picon('add')
      Buchungsposition hinzufügen

    = link_to('#') do
      = picon('duplicate')
      Auftrag duplizieren
