= render 'header'

.orders-cockpit
  .cockpit-header
    = render 'cockpit_header'

  .cockpit-table
    = render 'cockpit_table'

  .orders-actions
    = link_to('#') do
      = picon('add')
      Buchungsposition hinzufügen

    = link_to('#') do
      = picon('duplicate')
      Auftrag duplizieren
