- @title ||= ti(:title, model: models_label(false))

= render 'orders/header'

= crud_form(cancel_url: false,
            data: { contacts_url: contacts_with_crm_clients_url }) do |f|

  = render 'fields_work_item_edit', f: f

  = render 'fields_order', f: f

%br/

= render 'actions_edit'

