- @title ||= ti(:title, model: models_label(false))

= crud_form(data: { contacts_url: contacts_with_crm_clients_url }) do |f|

  - if params[:copy_id]
    = hidden_field_tag :copy_id, params[:copy_id]
    = render 'fields_work_item_edit', f: f
  - else
    = render 'fields_work_item_new', f: f

  = render 'fields_order', f: f

= render 'shared/modal'

