-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= render 'header'

.orders-cockpit

  %dl.dl-horizontal
    = labeled_attr entry, :client
    = labeled_attr entry, :category
    = labeled_attr entry.work_item, :name
    = labeled_attr entry.work_item, :shortname
    = labeled_attr entry.work_item, :description
    - if Crm.instance
      = labeled(Crm.instance.crm_key_name, format_attr(entry, :crm_key_with_label))
      = labeled("Weitere #{Crm.instance.crm_key_name_plural}", format_attr(entry, :additional_crm_orders))

  = render_attrs entry, :order_contacts

  = render_attrs entry, :department_id, :responsible_id, :kind_id, :status_id

  = render_attrs entry, :order_team_members


%br/
= render('actions_show')
