- if membership.projectmanagement
  = link_to 'Entfernen',
            "#{main_path}/manager/#{membership.to_param}",
            method: :delete
- else
  = link_to 'Hinzufügen',
            "#{main_path}/manager/#{membership.to_param}",
            method: :post