-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = ti(:title, model: "#{models_label(false)} von #{h(parent)}")

=  crud_form do |f|
  = f.labeled_input_field :contact_id, class: 'searchable'
  = f.labeled_input_field :supplement
  = f.labeled_text_area :street, rows: 2
  = f.labeled_input_fields :zip_code, :town
  = f.labeled(:country) do
    = country_select(:billing_address,
                     :country,
                     { priority_countries: %w(CH LI DE AT FR IT), selected: entry.country, locale: :de },
                     { required: true, class: 'form-control searchable' })
