- url ||= nil
= plain_form(@worktime,
                url: url,
                cancel_url: params[:back_url].presence || worktimes_path(week_date: @worktime.work_date)) do |f|
  = hidden_field_tag :back_url, params[:back_url]
  = f.error_messages

  - if record_other?
    = f.labeled_belongs_to_field(:employee_id,
                                  data: { remote: true,
                                          url: url_for(action: 'existing'),
                                          dynamic_params: 'ordertime[work_date]' })
  = f.labeled(:account_id) do
    = select_tag('ordertime[account_id]',
                 work_item_option(@worktime.account),
                 placeholder: 'Suchen...',
                 autocomplete: 'off',
                 class: entry.new_record? ? 'initial-focus' : '',
                 required: true,
                 data: { autocomplete: 'work_item',
                         url: search_work_items_path })
  = f.labeled_input_field(:ticket, span: 2)
  = f.labeled_text_area(:description)
  = f.labeled_date_field(:work_date,
                         data: { remote: true,
                                 url: url_for(action: 'existing'),
                                 dynamic_params: 'ordertime[employee_id]' })
  .form-group
    = f.label(:hours, class: 'col-md-2 control-label')
    .col-md-1
      = f.text_field(:hours, value: @worktime.hours, class: ('initial-focus' if params[:template]))
    = f.label(:from_start_time, class: 'col-md-1 control-label')
    .col-md-1
      = f.text_field(:from_start_time, value: format_time(@worktime.from_start_time))
    = f.label(:to_end_time, class: 'col-md-1 control-label')
    .col-md-1
      = f.text_field(:to_end_time, value: format_time(@worktime.to_end_time))

  = f.labeled_boolean_field(:billable)

  .form-group
    .col-md-offset-2.col-md-8
      = f.submit_button(ti('button.save'))
      - unless @worktime.id
        = f.button('Speichern & Neu',
                   class: 'btn btn-default',
                   name: 'redirect_to_self',
                   value: 'true')
      = f.cancel_link
