- @title = 'Laufende Zeit'
%table.table-striped
  %thead
    %tr
    - if @user.running_project
      %tr
        %td
          = @user.running_project.project.label_verbose
          seit #{format_time @user.running_project.from_start_time}
        %td{:align => "center"}
          = link_to 'Stoppen',
                    {:controller => 'ordertimes', :action => 'stop'},
                    id: 'runningProjectStopper'
      %tr
        %td{:colspan => "2", :style => "text-align: right;"}
          = form_tag({:controller => 'ordertimes', :action => 'stop'}, :id => 'stop_project_form') do
            %table{:style => "margin-left: auto; text-align: left;", :width => "100"}
              %thead
                %tr
                  %td Bemerkungen:
                  %td= text_field_tag 'description', @user.running_project.description, :size => 25
                %tr
                  %td Ticket/Task:
                  %td= text_field_tag 'ticket', @user.running_project.ticket, :size => 15

  %thead
    %tr
      %td{:colspan => "2"}
        %br/
        %b Meine Projekte
  %tbody
    - @user.alltime_leaf_projects.each do |project|
      %tr
        %td= project.label_verbose
        %td{:align => "center"}
          = link_to 'Starten',
                    {:controller => 'ordertimes', :action => 'start', :id => project.id},
                    data: { start_project: project.id }

= form_tag({:controller => 'ordertimes', :action => 'start'}, :id => 'start_project_form') do
  = hidden_field_tag 'id'
  = hidden_field_tag 'description', nil, :id => 'start_description'
  = hidden_field_tag 'ticket', nil, :id => 'start_ticket'

%p
= link_to 'Arbeitszeiten', :controller => 'evaluator', :action => 'details', :evaluation => 'userProjects', :category_id => @user.id, :start_date => Date.today, :end_date => Date.today
