- @title = ti(:title, model: "#{models_label(false)} von #{h(parent)}")

= crud_form do |f|
  = f.labeled_input_fields :lastname, :firstname, :function, :email, :phone, :mobile
  - if Crm.instance
    = f.labeled_input_field :crm_key,
                            caption: Crm.instance.crm_key_name,
                            span: 2,
                            help: crm_contact_link(entry)
