-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

- if @report.filters_defined?
  - if @report.present?
    .table Hinweis: Es werden nur Aufträge mit noch nicht verrechneten Leistungen oder Pauschalen angezeigt.
    .unindented
      %table.orders-report.table.table-hover
        %thead
          %tr
            %th
              = sort_link(:client, 'Kunde')
              %br/
              Auftrag
            %th.nowrap
              Status
            %th.right.nowrap{title: 'Produkt aus allen geleisteten Stunden und offeriertem Stundensatz'}
              = sort_link(:supplied_amount, 'Geleistet')
            %th.right.nowrap{title: 'Produkt aus allen verrechenbaren Stunden und offeriertem Stundensatz'}
              = sort_link(:billable_amount, 'Verrechenbar')
            %th.right.nowrap{title: 'Kostensumme der verrechenbaren Leistungen, die im gewählten Zeitraum erbracht wurden und auf einer Rechnung sind'}
              = sort_link(:billed_amount, 'Verrechnete Leistungen')
            %th.right.nowrap{title: 'Kostensumme aller verrechenbaren Leistungen, die im gewählten Zeitraum erbracht wurden und noch keiner Rechnung zugeteilt sind'}
              = sort_link(:not_billed_amount, 'Verrechnung offen')
            %th.right.nowrap{title: 'Kostensumme aller Pauschalen, die in einem Monat erbracht wurde, welcher eine Überschneidung zum gewählten Zeitraum besitzt'}
              = sort_link(:billed_invoice_flatrates, 'Verrechnete Pauschalen')
            %th.right.nowrap{title: 'Kostensumme aller Pauschalen, die in einem Monat geplant wurde, welcher eine Überschneidung zum gewählten Zeitraum besitzt'}
              = sort_link(:planned_flatrates, 'Geplante Pauschalen')
            %th.center

        %tbody
          - @report.page do |order|
            - if order.instance_of? Billing::Report::Total
              %td
                = order
              %td
              %td
                .data-item
                  %span.figure= f(order.supplied_amount.to_f)
                  %span.unit= currency
              %td
                .data-item
                  %span.figure= f(order.billable_amount.to_f)
                  %span.unit= currency
              %td.right
                .data-item
                  %span.figure= f(order.billed_amount.to_f)
                  %span.unit= currency
              %td.right
                .data-item
                  %span.figure= f(order.not_billed_amount.to_f)
                  %span.unit= currency
              %td.right
                .data-item
                  %span.figure= f(order.billed_invoice_flatrates_total_amount.to_f)
                  %span.unit= currency
              %td.right
                .data-item
                  %span.figure= f(order.planned_flatrates_total_amount.to_f)
                  %span.unit= currency
              %td.center
            - else
              %tr
                %td
                  - if order.order
                    = order.parent_names
                    %br/
                    %span.subtitle
                      = link_to_if(can?(:show, order.order),
                                  "#{order.work_item.path_shortnames}: #{order}",
                                  can?(:update, order.order) ? edit_order_path(order) : order_path(order))
                  - else
                    %span.subtitle= order
                %td
                  - if order.status
                    %span{class: "label label-#{order.status.style}"}
                      = order.status.name
                    %br/
                  - if order.closed_at
                    %span.data-item
                      %span.unit
                        = I18n.l(order.closed_at, format: '%d.%m.%Y')
                %td
                  .data-item
                    %span.figure= f(order.supplied_amount.to_f)
                    %span.unit= currency
                %td
                  .data-item
                    %span.figure= f(order.billable_amount.to_f)
                    %span.unit= currency
                %td.right
                  .data-item
                    %span.figure= f(order.billed_amount.to_f)
                    %span.unit= currency
                %td.right
                  .data-item
                    %span.figure= f(order.not_billed_amount.to_f)
                    %span.unit= currency
                %td.right
                  .data-item
                    %span.figure= f(order.billed_invoice_flatrates_total_amount)
                    %span.unit= currency
                  .data-item
                    %span.figure= f(order.billed_invoice_flatrates_total_quantity)
                    %span.unit= 'Stk'
                %td.right
                  .data-item
                    %span.figure= f(order.planned_flatrates_total_amount)
                    %span.unit= currency
                  .data-item
                    %span.figure= f(order.planned_flatrates_total_quantity)
                    %span.unit= 'Stk'
                %td.center
                  = link_to(picon('time'), order_order_services_path(order_id: order.order, invoice_id: '[leer]', billable: true, start_date: @period.start_date, end_date: @period.end_date), title: 'noch nicht verrechnete Leistungen anzeigen')

    %p= paginate @report

  - else
    .table= ti(:no_list_entries)

- else
  .table Bitte wählen Sie mindestes einen Filter aus.
