%table.table-condensed.table-bordered.table-stripedbody.company-planning
  %thead
    = render 'header'
  %tbody
    %tr{ class: 'planning-company-totals' }
      %td.head.nowrap
        Total
      - @period.step(7) do |date|
        %td{ class: @overview.week_planning_state(date) }
          = link_to '#', class: 'has-tooltip' do
            #{(@overview.weekly_planned_percent(date) / 100).round(1)}/#{(@overview.weekly_employment_percent(date) / 100).round(1)} FTE
            %span
              #{(@overview.weekly_planned_percent(date)).round}% / #{(@overview.weekly_employment_percent(date)).round}%
              %br
              FTE = Anzahl Vollzeitstellen
    - @overview.boards.each do |board|
      %tr
        %td.head.nowrap
          = link_to_if(can?(:show_plannings, board.employee),
                       board.employee.label,
                       plannings_employee_path(board.employee))

        - @period.step(7) do |date|
          %td{ class: board.week_planning_state(date) }
            = link_to '#', class: 'has-tooltip' do
              = board.weekly_planned_percent(date).to_f.round
              %span #{board.weekly_planned_percent(date).round}% / #{board.weekly_employment_percent(date).round}%

  %tfoot
    = render 'header'
