= error_messages_for @entry
%table
  %tr
    %td Name:
    %td= h @entry.name
  %tr
    %td Kürzel:
    %td= h @entry.shortname
  %tr
    %td Kunde:
    %td= h @entry.client.name
  %tr
    %td Bereich:
    %td= h @entry.department.name
  = render :partial => 'field', :collection => edit_fields
  %tr
    %td
    %td= submit_tag 'Speichern'
