- submit ||= ['Speichern']
- auto_start_stop_type ||= false
= error_messages_for 'worktime'
%table
  - if record_other?
    %tr
      %td Mitarbeiter:
      %td
        = collection_select(:worktime,
                            :employee_id,
                            Employee.list,
                            :id,
                            :label_verbose,
                            data: { remote: true,
                                    url: url_for(action: 'existing'),
                                    dynamic_param: 'worktime[work_date]' })
  - else
    = hidden_field('worktime', 'employee_id')
  %tr
    %td Reporttyp:
    %td
      = select_report_type auto_start_stop_type
  - if @worktime.hasAttribute? :account_id
    %tr
      %td= @worktime.class.account_label
      %td
        %select#worktime_account_id{:name => "worktime[account_id]"}
          = account_options
  %tr
    %td Datum:
    %td
      = date_calendar_field 'worktime',
                            'work_date',
                            data: { remote: true,
                                    url: url_for(action: 'existing'),
                                    dynamic_param: 'worktime[employee_id]' }
  %tr
    %td Stunden:
    %td= text_field('worktime', 'hours', :disabled => true, :size => '15')
  %tr
    %td Von:
    %td
      = text_field 'worktime', 'from_start_time', :size => '15', :value => format_time(@worktime.from_start_time)
  %tr
    %td Bis:
    %td
      = text_field 'worktime', 'to_end_time', :size => '15', :value => format_time(@worktime.to_end_time)
  %tr
    %td Ticket/Task:
    %td
      = text_field 'worktime', 'ticket', :size => '15'
  - if @worktime.hasAttribute? :description
    %tr{:valign => "top"}
      %td Beschreibung:
      %td= text_area 'worktime', 'description', {:rows => 5}
  - if @worktime.hasAttribute? :billable
    %tr
      %td Verrechenbar:
      %td= check_box 'worktime', 'billable'
  - if @user.management && @worktime.hasAttribute?(:booked) && ! @worktime.new_record?
    %tr
      %td Verbucht:
      %td= check_box 'worktime', 'booked'
  - if @worktime.hasAttribute?(:attendance) && @worktime.new_record? && !defined?(@split)
    %tr
      %td Anwesenheitszeit:
      %td= check_box 'worktime', 'attendance'
  - if !@worktime.new_record? && !@worktime.absence? && @worktime.employee == @user
    %tr
      %td Anpassen:
      - if @worktime.is_a? Projecttime
        %td
          = check_box 'worktime', 'attendance'
          zugehörige Anwesenheitszeit
      - else
        %td
          = check_box 'worktime', 'projecttime'
          zugehörige Projektzeit
  %tr
    %td
    %td
      - for label in submit
        = submit_tag label
= render :partial => 'worktime/type_switch_js'
