- @title = "Neue #{@worktime.class.label}"
- buttons = [WorktimeController::FINISH, 'Speichern und weiter erfassen']
- buttons.insert 0, AttendancetimeController::SPLIT if @worktime.kind_of? Attendancetime
= renderGenericPartial :partial => 'existing'
= renderGenericPartial :partial => 'update_existing_js'
- form_tag :controller => @worktime.class.name, :action => 'create' do
  = renderGenericPartial :partial => 'form', :locals => {:submit => buttons, :auto_start_stop_type => !@worktime.kind_of?(Absencetime) && @worktime.employee == @user}
%p
  - if record_other?
    = link_to 'Arbeitszeiten', evaluation_detail_params.merge!({:controller => 'evaluator', :action => controller.detailAction })
  - else
    = link_to '&Uuml;bersicht', :controller => @worktime.class.name, :action => 'index'
