- @title = "Arbeitszeit l&ouml;schen"
%p
  Wollen sie wirklich #{format_hour @worktime.hours}h Arbeitszeit
  am #{format_date(@worktime.work_date)} f&uuml;r
  \#{@worktime.account ? @worktime.account.label_verbose : 'Anwesenheit'} l&ouml;schen?
%table
  %tr
    %td
      - form_tag evaluation_detail_params.merge!({
      - :action => 'delete',
      - :id => @worktime}) do
        = submit_tag 'Löschen'
    %td
      - form_tag evaluation_detail_params.merge!({
      - :controller => 'evaluator',
      - :action => controller.detailAction}) do
        = submit_tag 'Abbrechen'
