-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title ||= 'Umsatz'

= form_tag(nil, method: :get, class: 'form-inline', role: 'filter') do
  = hidden_field_tag :sort, params[:sort]
  = hidden_field_tag :sort_dir, params[:sort_dir]
  = direct_filter_select(:grouping,
                         'Gruppieren nach',
                         RevenueReportsController::REPORT_TYPES,
                         prompt: nil,
                         value_method: :grouping_name,
                         text_method: :grouping_name_human)

= render 'evaluator/period_link', entities_name: 'Umsätze'

.list
  = render 'list'
