-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= crud_form do |f|
  = f.labeled_input_field :name
  = f.labeled :icon do
    = f.collection_select :icon,
                          glyphicons,
                          :to_s,
                          :to_s,
                          { prompt: ta(:please_select) },
                          class: 'form-control'
  = f.labeled_input_field :position
  - OrderTarget::RATINGS.each do |rating|
    .form-group
      = label_tag("rating_#{rating}_description", class: 'col-md-2 control-label') do
        Beschreibung für Bewertung
        = order_target_rating_icon(rating, style: 'font-size: 16px; vertical-align: middle;')
      .col-md-5
        = f.input_field "rating_#{rating}_description"
