.planning-calendar{ style: "--days: #{@board.work_days}" }
  .planning-calendar-inner
    = render 'board_header'

    - @accounting_posts.each do |post|
      .groupheader
        %strong= post
        - for i in 1..(@board.work_days)
          .day
      - @employees.each do |employee|
        - items = @board.items(employee.id, post.work_item_id)
        - if items
          .planning-calendar-days{ id: "planning_row_employee_#{employee.id}_work_item_#{post.work_item_id}" }
            = render 'row', legend: employee, items: items
