.planning-calendar{ style: "--days: #{@board.work_days}" }
  .planning-calendar-inner{ class: can?(:manage_plannings, @board.subject) ? 'editable' : nil }
    = render 'board_header'

    - @board.accounting_posts.each do |post|
      - if post.work_item_id != @board.order.work_item_id
        .groupheader
          .legend
            .groupheader-title
              %strong
                %span= post
                %i.glyphicon.glyphicon-chevron-down
              %small.text-muted
                = format_number(@board.total_post_hours(post), 0)
                \/
                = format_hour(post.offered_hours.to_f, 0)
          - @board.work_days.times do
            .day

      - @board.employees.each do |employee|
        - items = @board.items(employee.id, post.work_item_id)
        - if items
          .planning-calendar-days{ id: planning_row_id(employee.id, post.work_item_id) }
            = render 'row',
                     legend: employee,
                     items: items,
                     row_total: @board.total_row_hours(employee.id, post.work_item_id)

      - if can?(:manage_plannings, @board.subject)
        .actions{ data: { type: 'employee', work_item_id: post.work_item_id } }
          = render 'add_button'
