.planning-calendar{ style: "--days: #{@board.work_days}" }
  .planning-calendar-inner{ class: can?(:manage_plannings, @board.subject) ? 'editable' : nil }
    = render 'board_header'

    - @board.accounting_posts.each do |post|
      - if @board.accounting_posts.size > 1 || post.work_item_id != @board.order.work_item_id
        .groupheader
          %strong
            = post
            %i{ class: 'glyphicon glyphicon-chevron-down' }
          - @board.work_days.times do
            .day

      - @board.employees.each do |employee|
        - items = @board.items(employee.id, post.work_item_id)
        - if items
          .planning-calendar-days{ id: planning_row_id(employee.id, post.work_item_id) }
            = render 'row', legend: employee, items: items

      - if can?(:manage_plannings, @board.subject)
        .actions{ data: { type: 'employee', work_item_id: post.work_item_id } }
          = render 'add_button'
