-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- billable_option ||= false

%h4 Einstellungen

= form_tag({ action: 'report' }, method: 'get') do
  - %w(evaluation start_date end_date period_shortcut category_id division_id employee_id ticket invoice_id billable).each do |p|
    = hidden_field_tag p, params[p] if params[p]
  - params['work_item_ids'].each do |v|
    = hidden_field_tag 'work_item_ids[]', v

  - if billable_option
    .checkbox
      %label
        = check_box_tag 'only_billable', '1', true
        Nur verrechenbare Stunden

  .checkbox
    %label
      = check_box_tag 'combine_on'
      Einträge zusammenfassen

  .radio
    %label
      &nbsp; &nbsp;
      = radio_button_tag 'combine', 'time', true
      pro Tag

  .radio
    %label
      &nbsp; &nbsp;
      = radio_button_tag 'combine', 'ticket'
      pro Ticket/Task

  .radio
    %label
      &nbsp; &nbsp;
      = radio_button_tag 'combine', 'ticket_employee'
      pro Ticket/Task und Member

  .checkbox
    %label
      = check_box_tag 'start_stop'
      Von/Bis Zeit anzeigen

  .checkbox
    %label
      = check_box_tag 'show_work_item', '1', true
      Buchungsposition anzeigen

  .checkbox
    %label
      = check_box_tag 'show_ticket', '1', true
      Ticket anzeigen

  .checkbox
    %label
      = check_box_tag 'description', '1', true
      Bemerkungen anzeigen

  = submit_tag('Rapport', class: 'btn btn-primary')
