-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%table.table.table-condensed{style: 'max-width: 400px'}
  %tr
    %td Kunde
    %td
      %b= @work_items[0].top_item.client.label
  %tr
    %td Auftrag
    %td
      - if @order.present? # in the case of order_services
        %b= @order
        %br
        - @work_items.map do |w|
          = w.name
          %br
      - else  # in the case of evaluator
        - @work_items.map do |w|
          = w.label_ancestry
          %br
  - if @employee
    %tr
      %td Member
      %td
        %b= @employee.label
  %tr
    %td Periode
    %td
      %b= @period.to_s
  -if params[:billable]
    %tr
      %td Verrechenbar
      %td
        %b= params[:billable].present? ? t("global.#{params[:billable]}") : 'Alle'

%p &nbsp;
