%table.table-condensed
  %tr
    %td Kunde
    %td
      %b= @work_item.top_item.client.label
  %tr
    %td Position
    %td
      %b= @work_item.label_ancestry
  - if @employee
    %tr
      %td Mitarbeiter
      %td
        %b= @employee.label
  %tr
    %td Periode
    %td
      %b= @period.to_s
  -if params[:billable]
    %tr
      %td Verrechenbar
      %td
        %b= params[:billable].present? ? t("global.#{params[:billable]}") : 'Alle'

%p &nbsp;
