%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Ticket/Task
      %th Stunden
      - if params[:start_stop]
        %th Von
        %th Bis
      %th Mitarbeiter
      - if params[:description]
        %th{:width => "50%"} Bemerkungen

  - total = 0
  %tbody
    - @tickets.each do |tckt_key, tckt_val|
      %tr{class: cycle('even', 'uneven')}
        %td{:align => "right", :nowrap => ""}= tckt_key
        %td{:align => "right"}
          = format_hour tckt_val[:sum]
          \&nbsp;
        - if params[:start_stop]
          %td{:align => "center"}= f tckt_val[:date][0]
          %td{:align => "center"}= f tckt_val[:date][1]
        %td{:align => "left"}
          - if params[:combine]=="ticket"
            = tckt_val[:employees].keys.sort.map { |e| @employees[e]}.join(", ")
          - if params[:combine]=="ticket_employee"
            - a = Array.new
            - tckt_val[:employees].each_pair{ |k,v| a << @employees[k] + " (" + v[0].round(2).to_s + "h)" }
            = a.sort.join(", ")
        - if params[:description]
          %td= h(tckt_val[:descriptions].join(", ")).strip.gsub("\n", "<br/>").html_safe
        - total += tckt_val[:sum]

  %tfoot
    %tr.times_total_sum
      %td Total Stunden
      %td{:align => "right"}
        = format_hour total
        \&nbsp;
      - if params[:start_stop]
        %td
        %td
      %td
      - if params[:description]
        %td
