%table.table.table-condensed.table-striped
  %thead
    %tr
      %th.right Datum
      %th.right Stunden
      - if params[:start_stop]
        %th.center Von
        %th.center Bis
      - unless @employee
        %th.left Mitarbeiter
      - if params[:show_ticket]
        %th.right Ticket
      - if params[:description]
        %th.left{width: "50%"} Bemerkungen

  - total = 0
  %tbody
    - @worktimes.each do |time|
      %tr
        %td.right{nowrap: true}= time.date_string
        %td.right
          = format_hour time.hours
          \&nbsp;
        - if params[:start_stop]
          %td.center= format_time time.from_start_time if time.start_stop?
          %td.center= format_time time.to_end_time if time.start_stop?
        - unless @employee
          %td.left= time.employee.shortname
        - if params[:show_ticket]
          %td.right= time.ticket
        - if params[:description]
          %td= h(time.description).strip.gsub("\n", "<br/>").html_safe
        - total += time.hours

  %tfoot
    %tr.times_total_sum
      %td.rightails Total Stunden
      %td.right
        = format_hour total
        \&nbsp;
      - if params[:start_stop]
        %td
        %td
      - unless @employee
        %td
      - if params[:show_ticket]
        %td
      - if params[:description]
        %td
