-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "Zeitrapport #{Company.name}"

.container-fluid
  .date
    = f Time.zone.today

  %h1.h3= @title
  = render 'worktimes_report/report_header'

  - if @ticket_view
    = render 'worktimes_report/tickets'
  - else
    = render 'worktimes_report/times'
