- @title = "Zeitrapport Puzzle ITC"

.date
  = f Time.zone.today

%h1= @title
= render 'worktimes_report/report_header'
%p

- if @ticket_view
  = render 'worktimes_report/tickets'
- else
  = render 'worktimes_report/times'
