- @title = "Zeitrapport Puzzle ITC"

.container-fluid
  .date
    = f Time.zone.today

  %h1.h3= @title
  = render 'worktimes_report/report_header'

  - if @ticket_view
    = render 'worktimes_report/tickets'
  - else
    = render 'worktimes_report/times'
