= form_tag(nil, method: :get, class: 'form-inline', role: 'filter', remote: true, data: { spin: true }) do
  = hidden_field_tag :page, 1
  = hidden_field_tag :closed, params[:closed]

  - start_label = params[:closed].present? ? 'Abgeschlossen zwischen' : 'Zeiten von'
  - end_label = params[:closed].present? ? 'und' : 'bis'
  = direct_filter_date(:start_date, start_label, @period.start_date)
  = direct_filter_date(:end_date, end_label, @period.end_date)

  = direct_filter_select(:period_shortcut,
    nil,
    params[:closed].blank? ? predefined_past_period_options : predefined_past_quarter_period_options,
    value: @period.shortcut,
    prompt: 'benutzerdefiniert')

  = direct_filter_select(:department_id,
                         'OE',
                         @departments,
                         class: 'searchable',
                         multiple: true)

  = direct_filter_select(:client_work_item_id,
                         'Kunde',
                         @clients,
                         class: 'searchable',
                         style: 'width: 360px;',
                         data: { update: '#category_work_item_id',
                                 url: categories_clients_path })

  = direct_filter_select(:category_work_item_id,
                         'Kategorie',
                         @categories,
                         class: 'searchable',
                         style: 'width: 240px;')

  = direct_filter_select(:kind_id,
                         'Auftragsart',
                         @order_kinds,
                         class: 'searchable',
                         multiple: true)

  - if params[:closed].blank?
    = direct_filter_select(:status_id,
                           'Status',
                           @order_status,
                           class: 'searchable',
                           multiple: true)

  = direct_filter_select(:responsible_id,
                         'Verantwortlich',
                         @order_responsibles,
                         class: 'searchable',
                         multiple: true)

  = direct_filter_select(:major_chance_value,
                         'Chance',
                         order_uncertainty_options)
  = direct_filter_select(:major_risk_value,
                        'Risiko',
                         order_uncertainty_options)

  = direct_filter(:target, 'Ziel') do
    - select_tag(:target,
                 options_for_select([['Orange', 'orange'],
                                     ['Rot', 'red'],
                                     ['Orange und Rot', 'red_orange']],
                                     params[:target]),
                 prompt: 'Alle',
                 class: 'form-control',
                 data: { submit: true })

  .form-group
    = spinner
