-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= form_tag(nil, method: :get, class: 'form-inline', role: 'filter', remote: true, data: { spin: true }) do
  = hidden_field_tag :page, 1
  = hidden_field_tag :status_preselection, params[:status_preselection]

  - start_label = params[:status_preselection] == 'closed' ? 'Abgeschlossen zwischen' : 'Zeiten von'
  - end_label = params[:status_preselection] == 'closed' ? 'und' : 'bis'
  = direct_filter_date(:start_date, start_label, @period.start_date)
  = direct_filter_date(:end_date, end_label, @period.end_date)

  = direct_filter_select(:period_shortcut,
    nil,
    params[:status_preselection] == 'closed' ? predefined_past_quarter_period_options : predefined_past_period_options,
    prompt: 'benutzerdefiniert')

  = direct_filter_select(:department_id,
                         'OE',
                         @departments,
                         class: 'searchable',
                         multiple: true)

  = direct_filter_select(:client_work_item_id,
                         'Kunde',
                         @clients,
                         class: 'searchable',
                         style: 'width: 360px;',
                         data: { update: '#category_work_item_id',
                                 url: categories_clients_path })

  = direct_filter_select(:category_work_item_id,
                         'Kategorie',
                         @categories,
                         class: 'searchable',
                         style: 'width: 240px;')

  = direct_filter_select(:kind_id,
                         'Auftragsart',
                         @order_kinds,
                         class: 'searchable',
                         multiple: true)


  - if params[:status_preselection] == 'not_closed'
    = direct_filter_select(:status_id,
                            'Status',
                            @order_status.where(closed: false),
                            class: 'searchable',
                            multiple: true)

  - if params[:status_preselection].blank?
    = direct_filter_select(:status_id,
                            'Status',
                            @order_status,
                            class: 'searchable',
                            multiple: true)

  = direct_filter_select(:without_hours,
                         'Aufträge ohne Zeitbuchungen',
                         [IdValue.new('true', 'anzeigen'), IdValue.new('false', 'verbergen')],
                         class: 'searchable',
                         value: params[:without_hours] || false)

  = direct_filter_select(:responsible_id,
                         'Verantwortlich',
                         @order_responsibles,
                         class: 'searchable',
                         multiple: true)

  = direct_filter(:target, 'Ziel') do
    - select_tag(:target,
                 options_for_select([['Orange', 'orange'],
                                     ['Rot', 'red'],
                                     ['Orange und Rot', 'red_orange']],
                                     params[:target]),
                 prompt: 'Alle',
                 class: 'form-control',
                 data: { submit: true })

  = direct_filter_select(:major_chance_value,
                         'Chance',
                         order_uncertainty_options)
  = direct_filter_select(:major_risk_value,
                        'Risiko',
                         order_uncertainty_options)

  .form-group
    = spinner
