= form_tag(nil, method: :get, class: 'form-inline', role: 'filter', remote: true, data: { spin: true }) do
  = hidden_field_tag :page, 1

  = direct_filter_date(:start_date, 'Von', @period.start_date)
  = direct_filter_date(:end_date, 'Bis', @period.end_date)

  = direct_filter_select(:department_id, 'OE', @departments)

  = direct_filter_select(:client_work_item_id,
                         'Kunde',
                         @clients,
                         class: 'searchable',
                         style: 'width: 360px;',
                         data: { update: '#category_work_item_id',
                                 url: categories_clients_path })

  = direct_filter_select(:category_work_item_id,
                         'Kategorie',
                         @categories,
                         class: 'searchable',
                         style: 'width: 240px;')

  = direct_filter_select(:kind_id, 'Auftragsart', @order_kinds)

  = direct_filter_select(:status_id, 'Status', @order_status)

  = direct_filter_select(:responsible_id,
                         'Verantwortlich',
                         @order_responsibles,
                         class: 'searchable',
                         style: 'width: 180px;')

  = direct_filter_select(:target, 'Ziel', @order_targets)

  .form-group
    = spinner
