-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- if @report.filters_defined?
  - if @report.present?
    .unindented
      %table.orders-report.table.table-hover
        %thead
          %tr
            %th{style: 'width: 24%;'}
              = sort_link(:client, 'Kunde')
              %br/
              Auftrag
            %th.nowrap
              Status
            %th.right.nowrap{title: 'Summe aus allen Buchungspositionen'}
              = sort_link(:offered_amount, 'Budget')
            %th.right.nowrap{title: 'Produkt aus allen geleisteten Stunden und offeriertem Stundensatz'}
              = sort_link(:supplied_amount, 'Geleistet')
            %th.right.nowrap{title: 'Produkt aus allen verrechenbaren Stunden und offeriertem Stundensatz'}
              = sort_link(:billable_amount, 'Verrechenbar')
            %th.right.nowrap{title: 'Summe aller Rechnungen mit Datum im gewählten Zeitraum'}
              = sort_link(:billed_amount, 'Verrechnet')
            %th.right{title: 'Verhältnis von verrechenbaren Stunden zu geleisteten Stunden'}
              = sort_link(:billability, 'Verrechen&shy;barkeit'.html_safe)
            %th{ style: 'width: 15%' }
              Budget-Controlling
            %th.right{title: 'Durchschnitt der offerierten Stundensätze aller Buchungspositionen'}
              = sort_link(:offered_rate, 'Offerierter Stundensatz')
            %th.right{title: 'Verhältnis von verrechneten Beträgen zu verrechenbaren Stunden'}
              = sort_link(:billed_rate, 'Verrechneter Stundensatz')
            %th.right{title: 'Verhältnis von verrechenbaren Beträgen zu geleisteten Stunden'}
              = sort_link(:average_rate, 'Durchschnittl. Stundensatz')
            - @target_scopes.each do |scope|
              %th.large.nowrap= sort_link("target_scope_#{scope.id}", icon(scope.icon, title: scope.name))
            %th.large.nowrap.text-center= sort_link('major_chance_value', picon('clover', title: OrderChance.model_name.human))
            %th.large.nowrap.text-center= sort_link('major_risk_value', picon('cloud', title: OrderRisk.model_name.human))

        %tbody
          - @report.page do |order|
            %tr
              %td
                - if order.order
                  = order.parent_names
                  %br/
                  %span.subtitle
                    = link_to_if(can?(:show, order.order),
                                 "#{order.work_item.path_shortnames}: #{order}",
                                 can?(:update, order.order) ? edit_order_path(order) : order_path(order))
                - else
                  %span.subtitle= order
              %td.center
                - if order.status
                  %span{class: "label label-#{order.status.style}"}
                    = order.status.name
                  %br/
                - if order.closed_at
                  %span.data-item
                    %span.unit
                      = I18n.l(order.closed_at, format: '%d.%m.%Y')
              %td
                .data-item
                  %span.figure= f(order.offered_amount.to_f)
                  %span.unit= currency
              %td
                .data-item
                  %span.figure= f(order.supplied_amount.to_f)
                  %span.unit= currency
              %td
                .data-item
                  %span.figure= f(order.billable_amount.to_f)
                  %span.unit= currency
              %td.right
                .data-item
                  %span.figure= f(order.billed_amount.to_f)
                  %span.unit= currency
              %td.right
                .data-item
                  - if order.billability
                    %span.figure= format_order_billability(order.billability)
                    %span.unit %
              %td
                - unless order.is_a? Order::Report::Total
                  = order_progress_bar(order)
              %td
                .data-item
                  - if order.offered_rate
                    %span.figure= f(order.offered_rate)
                    %span.unit= "#{currency}/Std."
              %td
                .data-item
                  - if order.billed_rate
                    %span.figure= f(order.billed_rate)
                    %span.unit= "#{currency}/Std."
              %td
                .data-item
                  - if order.average_rate
                    %span.figure= format_order_average_rate(order.average_rate)
                    %span.unit= "#{currency}/Std."
              - @target_scopes.each do |scope|
                %td
                  = order_target_icon(order.target(scope.id))
              %td= format_major_chance(order.order)
              %td= format_major_risk(order.order)

    %p= paginate @report

  - else
    .table= ti(:no_list_entries)

- else
  .table Bitte wählen Sie mindestes einen Filter aus.
