-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%ul.nav.nav-tabs{ role: 'tablist' }
  %li{ class: ('active' unless params[:closed] == 'true') }
    = link_to('Laufende', reports_orders_path)
  %li{ class: ('active' if params[:closed] == 'true') }
    = link_to('Abgeschlossene', reports_orders_path(closed: true))

- @title ||= 'Auftrags-Controlling'

%p= render 'filters'

.list
  = render 'list'

  = render 'actions'
