-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%ul.nav.nav-tabs{ role: 'tablist' }
  %li{ class: ('active' if params[:status_preselection].blank?) }
    = link_to('Alle', reports_orders_path, data: { turbolinks: false })
  %li{ class: ('active' if params[:status_preselection] == 'not_closed') }
    = link_to('Laufende', reports_orders_path(status_preselection: 'not_closed'), data: { turbolinks: false })
  %li{ class: ('active' if params[:status_preselection] == 'closed') }
    = link_to('Abgeschlossene', reports_orders_path(status_preselection: 'closed'), data: { turbolinks: false })

- @title ||= 'Auftrags-Controlling'

%p= render 'filters'

.list
  = render 'list'

  = render 'actions'
