-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title ||= "Log von #{@employee.to_s}"

- if @versions.present?
  = plain_table(@versions.group_by(&:created_at).each) do |t|
    - t.col('Datum/Autor') do |created_at, versions|
      %small.text-muted= f(in_my_timezone(created_at))
      - if version_author(versions.first)
        %h4= version_author(versions.first)
    - t.col('Änderungen') do |created_at, versions|
      - versions.each do |v|
        = version_changes(v)

- else
  %p Keine Änderungen

= paginate @versions

= render 'actions_index'
