-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title ||= "Log von #{@employee.to_s}"

- if @versions.present?
  = plain_table(@log.table_items) do |t|
    - t.col('Datum/Autor') do |created_at, versions|
      - @log.version = versions.first
      %small.text-muted= f(created_at)
      - if @log.author?
        %h4= @log.author
    - t.col('Änderungen') do |created_at, versions|
      - versions.each do |v|
        - @log.version = v
        %h4= @log.title
        = @log.all_changes

- else
  %p Keine Änderungen

= paginate @versions

= render 'actions_index'
