-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title ||= "Log von #{@employee.to_s}"

= plain_table_or_message(@presenter.versions.group_by(&:created_at)) do |t|
  - t.col('Datum/Autor') do |created_at, versions|
    %small.text-muted= f(created_at.in_time_zone('Bern'))
    - @presenter.present_author(versions) do |author|
      %h4= author

  - t.col('Änderungen') do |created_at, versions|
    - @presenter.present_changes(versions) do |title, changes|
      %h4= title
      = safe_join(changes, content_tag(:div))


= paginate @presenter.versions

= render 'actions_index'
