{{#each this}}
  <div class='employees_radio checkbox'>
    <label for="invoice_employee_ids_{{id}}">
      <input value="{{id}}" checked="checked" name="invoice[employee_ids][]" id="invoice_employee_ids_{{id}}" type="checkbox">
            {{lastname}} {{firstname}}
      </label>
  </div>
{{else}}
  <p class='form-control-static'>
    keine Buchungen in der gewählten Periode vorhanden
  </p>
{{/each}}
