= standard_form(@worktime) do |f|
  - if record_other?
    = f.labeled(:employee_id) do
      = collection_select(:projecttime,
                          :employee_id,
                          @employees,
                          :id,
                          :label_verbose,
                          selected: @worktime.employee_id,
                          data: { remote: true,
                                  url: url_for(action: 'existing'),
                                  dynamic_params: 'projecttime[work_date]' })
  = f.labeled(:account) do
    = f.text_field(:account,
                   value: @worktime.account.try(:label_verbose),
                   placeholder: 'Suchen...',
                   data: { autocomplete: 'project',
                           url: search_projects_path,
                           id_field: 'projecttime_account_id' })
    = f.hidden_field(:account_id)
  = f.labeled_input_field(:ticket, span: 3)
  = f.labeled_text_area(:description)
  = f.labeled_date_field(:work_date,
                         data: { remote: true,
                                 url: url_for(action: 'existing'),
                                 dynamic_params: 'projecttime[employee_id]' })
  .form-group
    = f.label(:from_start_time, class: 'col-md-2 control-label')
    .col-md-1
      = f.text_field(:from_start_time, value: format_time(@worktime.from_start_time))
    = f.label(:to_end_time, class: 'col-md-1 control-label')
    .col-md-1
      = f.text_field(:to_end_time, value: format_time(@worktime.to_end_time))
    / TODO: implement start-stop
    = f.label(:hours, class: 'col-md-1 control-label')
    .col-md-1
      = f.input_field(:hours, value: format_hour(@worktime.hours))

  = f.labeled_boolean_field(:billable)
