-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.row
  .col-md-6
    .row
      .col-md-6
        %address.well
          .name
            %strong
              = @employee.firstname
              = @employee.lastname
          - if @employee.street.present?
            .street= @employee.street
          - if @employee.postal_code.present? || @employee.city.present?
            .location
              = @employee.postal_code
              = @employee.city
          - if @employee.phone_private.present?
            .phone-private{ title: captionize(:phone_private, @employee.class) }
              %i.glyphicon.glyphicon-phone
              = link_to @employee.phone_private, "tel:#{@employee.phone_private}"
          - if @employee.phone_office.present?
            .phone-office{ title: captionize(:phone_office, @employee.class) }
              %i.glyphicon.glyphicon-phone-alt
              = link_to @employee.phone_office, "tel:#{@employee.phone_office}"
          - if @employee.email.present?
            .email
              %i.glyphicon.glyphicon-envelope
              = link_to @employee.email, "mailto:#{@employee.email}"
      .col-md-6
        = link_to format: :vcf do
          %img.master-data-vcard-qrcode{ class: 'qr-code', src: employee_master_datum_url(id: @employee.id, format: :svg) }
          vCard herunterladen

    .row
      .col-md-6
        %h4 Personendaten
        = labeled_attr(@employee, :shortname)
        - if @employee.graduation.present?
          = labeled_attr(@employee, :graduation)
        - if @employee.birthday.present?
          = labeled(captionize(:birthday, @employee.class)) do
            = localize_date(@employee.birthday)
        - if @employee.marital_status.present?
          = labeled(captionize(:marital_status, @employee.class)) do
            = @employee.class.human_attribute_name("marital_statuses.#{@employee.marital_status}")
        - if @employee.social_insurance.present?
          = labeled_attr(@employee, :social_insurance)
        - if @employee.nationalities.present?
          = labeled_attr(@employee, :nationalities)
        - if Crm.instance && @employee.crm_key.present?
          = labeled(Crm.instance.crm_key_name) do
            = crm_contact_link(@employee, @employee.crm_key)
        - if @employee.identification_type.present?
          = labeled_attr(@employee, :identification_type)
        - if @employee.identification_valid_until.present?
          = labeled(captionize(:identification_valid_until, @employee.class)) do
            = localize_date(@employee.identification_valid_until)

        - if @employee.emergency_contact_name.present? || @employee.emergency_contact_phone.present?
          %br
          %h4 Notfallkontakt
          .alert.alert-danger
            - if @employee.emergency_contact_name.present?
              = labeled_attr(@employee, :emergency_contact_name)
            - if @employee.emergency_contact_phone.present?
              = labeled(captionize(:emergency_contact_phone, @employee.class)) do
                %i.icon-help
                = link_to @employee.emergency_contact_phone, "tel:#{@employee.emergency_contact_phone}"

      .col-md-6
        %h4 Anstellung
        = labeled_attr(@employee, :department_id)
        = labeled_attr(@employee, :current_percent)
        = labeled('Rollen', format_current_employment_roles(@employee, tag(:br)))

        - if @employee.additional_information.present?
          %h4 Zusätzliche Informationen
          = format_attr @employee, :additional_information
