= f.labeled_input_field :payment_date, span: 5
= f.labeled_input_field :employee_id unless parent
= f.labeled_input_field :amount
= f.labeled_input_field :kind
= f.labeled(:order_id, required: true) do
  = select_tag('expense_order_id',
                work_item_option(@expense&.order),
                placeholder: 'Suchen...',
                autocomplete: 'off',
                class: entry.new_record? ? 'initial-focus' : '',
                required: true,
                data: {autocomplete: 'work_item',
                    url: search_orders_path(only_open: true)})

= f.labeled_input_field :description
= f.labeled_file_field :receipt
