- if parent
  - @title = 'Meine Spesen'

  = form_tag(nil, method: :get, class: 'form-inline', role: 'filter') do
    = hidden_field_tag :page, 1
    = direct_filter_select(:payment_date, 'Jahr', @years)

  - Expense.by_month(entries, params[:year].presence).each do |month, expenses|
    = plain_table_or_message(expenses, responsive: true) do |t|
      - t.col(month) { |e| link_to(format_attr(e, :payment_date), [e.employee, e]) }
      - t.col('Spesenart') { |e| e.kind_value }
      - t.col('Betrag', class: 'text-right') { |e| format_attr(e, :amount) }
      - t.col('Status') { |e| format_attr(e, :status_value) }
      - t.col('Auszahlungsmonat') do |e|
        = l(e.reimbursement_date, format: :month_only) if e.reimbursement_date
      - expense_duplicate_col(t)
      - expense_edit_col(t)
      - expense_destroy_col(t)

- else
  = form_tag(nil, method: :get, class: 'form-inline', role: 'filter') do
    = hidden_field_tag :page, 1
    = direct_filter_select(:status, 'Status', @statuses)
    = direct_filter_select(:employee_id, 'Mitarbeiter', @employees)
    = direct_filter_select(:reimbursement_date, 'Auszahlungsmonat', @months)
    = direct_filter_select(:department_id, 'Organisationseinheit', @departments)

  = plain_table_or_message(entries, responsive: true) do |t|
    - t.attrs(:payment_date, :employee_id, :kind_value)
    - t.attr(:description) { |e| format_attr(e, :description).truncate_words(20) }
    - t.attrs(:amount, :status_value, :reviewer_id, :reimbursement_month)
    - t.action_col do |e|
      = t.table_action_link('edit', expense_review_path(e)) if e.pending? || e.deferred?
