%table#evaluation.table.table-striped.table-condensed.table-hover.table-inline
  %thead
    %tr
      %th= @evaluation.division_header
      -if @evaluation.sub_work_items_eval
        %th
      - @periods.each do |p|
        %th.periodHead
          = p ? p.label : 'Total'
          &nbsp; &nbsp;
      - @evaluation.division_supplement(@user).each do |supp|
        %th= supp[1]

  %tbody
    = render(:partial => 'division', :collection => @evaluation.divisions(@period))

  %tfoot
    %tr.times_total_sum
      %td Total Zeit
      - if @evaluation.sub_work_items_eval
        %th
      = render(:partial => 'timecell', :collection => collect_times(@periods, :sum_total_times))
