- spacer ||= nil
.unindented
  %table.table.table-condensed.table-hover.table-striped
    %thead
      %tr
        - @evaluation.detail_columns.each do |field|
          %th= @evaluation.detail_labels[field]
        - if @evaluation.edit_link?(@user) || @user.management || @evaluation.delete_link?(@user)
          %th.action
    %tbody
      = render :partial => 'detailrow', :collection => @times, :locals => {:spacer => spacer}
    %tfoot
      %tr.times_total_sum
        %td Total insgesamt
        %td{:align => "right"}= format_hour @evaluation.sum_times(@period)
        %td{:colspan => @evaluation.detail_columns.size - 2}
        - if @evaluation.edit_link?(@user) || @user.management || @evaluation.delete_link?(@user)
          %td.action
      %tr.times_total_sum
        %td Total verrechenbar
        %td{:align => "right"}= format_hour @evaluation.sum_times(@period, nil, Worktime.where(billable: true))
        %td{:colspan => @evaluation.detail_columns.size - 2}
        - if @evaluation.edit_link?(@user) || @user.management || @evaluation.delete_link?(@user)
          %td.action

%p= paginate @times
