= render :partial => spacer, :locals => {:time => detailrow} if spacer
%tr
  - for field in @evaluation.class::DETAIL_COLUMNS
    = detailTD detailrow, field
  - if @evaluation.editLink?(@user) || @user.management
    %td
      - if @user.management || ! detailrow.booked
        = link_to 'Bearbeiten', evaluation_detail_params.merge!({:controller => detailrow.controller, :action => 'edit', :id => detailrow.id})
  - if @evaluation.splitLink? @user
    %td
      = link_to 'Aufteilen', evaluation_detail_params.merge!({:controller => detailrow.controller, :action => 'splitAttendance', :id => detailrow.id})                |
  - if @evaluation.deleteLink?(@user)
    %td
      - if ! detailrow.booked
        = link_to 'L&ouml;schen', evaluation_detail_params.merge!({:controller => detailrow.controller, :action =>'confirm_delete', :id => detailrow.id})                |
