- periodTimes = collect_times(periods, :sum_times, division)
- if @period.nil? || @evaluation.category == Employee || periodTimes.sum > 0
  %tr
    %td
      - if sub = @evaluation.sub_evaluation
        = link_to division.label_verbose, {:action => sub, :category_id => division.id}, :title => division.tooltip
      - else
        = content_tag :span, division.label_verbose, :title => division.tooltip
    - if @evaluation.class::SUB_PROJECTS_EVAL
      %td
        - if sub = @evaluation.sub_projects_evaluation(division)
          = link_to '&crarr;', {:action => sub, :category_id => division.id}, :class => 'symbol'
    = render(:partial => 'timecell', :collection => periodTimes, :locals => {:division_id => division.id, :periods => periods})
    - for supp in @evaluation.division_supplement(@user)
      %td{align: supp[2].presence}
        = self.send(supp[0], division)
