-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- if times_or_plannings?(evaluation, division, times)
  %tr
    %td
      - if sub = evaluation.sub_evaluation
        = link_to(division.label_verbose,
                  { action: 'overview', evaluation: sub, category_id: division.id, **worktime_search_conditions },
                  title: division.tooltip)
      - else
        = content_tag :span, division.label_verbose, title: division.tooltip

    - if evaluation.sub_work_items_eval
      %td
        - if sub = evaluation.sub_work_items_evaluation(division)
          = link_to('&crarr;'.html_safe,
                    { action: 'overview', evaluation: sub, category_id: division.id },
                    class: 'symbol')

    = render(partial: 'timecell',
             collection: @periods.each_with_index.collect { |_p, i| times[i][division.id] },
             locals: { division_id: division.id,
                       evaluation: evaluation,
                       evaluation_name: evaluation_name })

    - evaluation.division_supplement(@user).each do |supp|
      %td{align: supp[2].presence}
        = self.send(supp[0], division)
