-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- employee = @evaluation.category
%section
  %p
    = link_to 'Mitarbeiterstammdaten', employee_master_datum_path(employee.id)
    |
    = link_to 'Wochengrafik', weekly_graph_path(employee.id)
  %div
    %label #{employee.class.human_attribute_name(:committed_worktimes_at)}:
    - if employee.committed_worktimes_at
      = I18n.l(employee.committed_worktimes_at, format: :month)
    - else
      Keine
  - if can?(:update_reviewed_worktimes, employee)
    %div
      %label #{employee.class.human_attribute_name(:reviewed_worktimes_at)}:
      = worktime_reviews(employee)
      = render 'shared/modal'

%section
  %h4
    Übersicht
    %small per #{I18n.l(@period.present? ? @period.end_date : Time.zone.today)}

  %table.table.table-inline.table-striped.table-condensed
    %tbody
      - employee_infos(employee, @period).each do |info|
        %tr
          %td= employee_info_labels(info)
          %td.text-right= employee_info_values(info)
