%section
  %p
    = link_to 'Mitarbeiterstammdaten', employee_master_datum_url(@user.id)
    %br
    = link_to 'Wochengrafik', employee_weekly_graph_url(@user.id)
  %label #{@user.class.human_attribute_name(:committed_worktimes_at)}:
  - if @user.committed_worktimes_at
    = I18n.l(@user.committed_worktimes_at, format: :month)
  - else
    Keine

%section
  %h4 Übersicht

  Beschäftigungsgrad: TBD

  = time_info
