%p
  - if @period
    Zeiten w&auml;hrend #{@period} &nbsp;
    \#{link_to 'Aktuelle Zeitspanne',  :controller => 'evaluator', :action => 'currentPeriod',  :back_url => request.path} |
  = link_to 'Andere Zeitspanne', :controller => 'evaluator', :action => 'selectPeriod', :back_url => request.path
  - if @notifications && !@notifications.empty?
    = link_to("#{@notifications.size} Nachricht#{@notifications.size > 1 ? 'en' : ''}", '#', data: { toggle: 'notifications' })
    %ul#notifications.notification{:style => "display: none;"}
      - @notifications.each do |notification|
        %li= h(notification.message).gsub("\n", "<br/>")
    - ref = controller.request.env["HTTP_REFERER"]
    - if ref && "login" == ref[-5,5]
      :javascript
        $('notifications').show();
