- if can?(:userworkitems, Evaluation)
  = nav 'Meine Zeit',
        evaluation_path('userworkitems', clear: 1),
        evaluation_path('userworkitems')

- if can?(:managed, Evaluation)
  = nav 'Meine Aufträge', evaluation_path('managed', clear: 1)

- if can?(:clients, Evaluation)
  = nav 'Kunden',
        evaluation_path('clients', clear: 1),
        evaluation_path('clients'),
        evaluation_path('clientworkitems'),
        evaluation_path('workitememployees')

- if can?(:reports, Order)
  = nav 'Aufträge',
        reports_orders_path(clear: 1),
        reports_orders_path

- if can?(:employees, Evaluation)
  = nav 'Mitarbeiter',
        evaluation_path('employees', clear: 1),
        evaluation_path('employees'),
        evaluation_path('employeeworkitems'),
        evaluation_path('employeesubworkitems')

- if can?(:departments, Evaluation)
  = nav 'Organisationseinheiten',
        evaluation_path('departments', clear: 1),
        evaluation_path('departments'),
        evaluation_path('departmentorders')

- if can?(:userabsences, Evaluation)
  = nav 'Meine Absenzen',
        evaluation_path('userabsences', clear: 1),
        evaluation_path('userabsences')

- if can?(:absences, Evaluation)
  = nav 'Absenzen Mitarbeiter',
        evaluation_path('absences', clear: 1),
        evaluation_path('absences'),
        evaluation_path('employeeabsences')

= nav 'Ferienplan', vacations_path

- if can?(:read, Worktime)
  = nav 'Auslastung', reports_workload_path

- if can?(:revenuereports, Department)
  = nav 'Umsatz', reports_revenue_path

- if can?(:export_extended_capacity_csv, Evaluation)
  = nav 'Detaillierte Auslastung CSV', evaluation_path('export_extended_capacity_csv'), data: { no_turbolink: true }

- if can?(:export_ma_overview, Evaluation)
  = nav 'MA Übersicht', evaluation_path('export_ma_overview')
