- if can?(:userworkitems, Evaluation)
  = nav 'Meine Zeit',
        evaluation_path('userworkitems', clear: 1),
        evaluation_path('userworkitems')

- if can?(:managed, Evaluation)
  = nav 'Meine Projekte', evaluation_path('managed', clear: 1)

- if can?(:clients, Evaluation)
  = nav 'Kunden',
        evaluation_path('clients', clear: 1),
        evaluation_path('clients'),
        evaluation_path('clientworkitems'),
        evaluation_path('workitememployees')

- if can?(:employees, Evaluation)
  = nav 'Mitarbeiter',
        evaluation_path('employees', clear: 1),
        evaluation_path('employees'),
        evaluation_path('employeeworkitems'),
        evaluation_path('employeesubworkitems')

- if can?(:departments, Evaluation)
  = nav 'Bereiche',
        evaluation_path('departments', clear: 1),
        evaluation_path('departments'),
        evaluation_path('departmentorders')

- if can?(:userabsences, Evaluation)
  = nav 'Meine Absenzen',
        evaluation_path('userabsences', clear: 1),
        evaluation_path('userabsences')

- if can?(:absences, Evaluation)
  = nav 'Absenzen Mitarbeiter',
        evaluation_path('absences', clear: 1),
        evaluation_path('absences'),
        evaluation_path('employeeabsences')

= nav 'Ferienplan', all_absences_graph_path

- if can?(:export_capacity_csv, Evaluation)
  = nav 'Auslastung CSV', evaluation_path('export_capacity_csv'), false

- if can?(:export_extended_capacity_csv, Evaluation)
  = nav 'Detaillierte Auslastung CSV', evaluation_path('export_extended_capacity_csv'), false

- if can?(:export_ma_overview, Evaluation)
  = nav 'MA Übersicht', evaluation_path('export_ma_overview')
