- @title = "Mitarbeiter Statistiken Puzzletime"
= render(:partial => 'period_link')
- Employee.list.each do |em|
  %h2= em.label
  Ueberzeit: #{format_hour em.statistics.current_overtime(@period.endDate)} Stunden
  %br/
  Bezogene Ferien: #{format_hour em.statistics.used_vacations(@period)} Tage
  %br/
  Ferienrestguthaben: #{format_hour em.statistics.remaining_vacations(@period.endDate)} Tage
  %br/
  Positionen:
  %table
    - eval = EmployeeWorkItemsEval.new(em.id)
    - work_items = eval.times(@period).collect { |w| w.work_item }
    - work_items.uniq!
    - work_items.sort! {|a,b| a.label_verbose <=> b.label_verbose }
    - work_items.each do |p|
      %tr
        %td{:align => "right"}
          = format_hour eval.sum_times(@period, p)
          h
        %td= p.label_verbose
  %hr/
