- @title = "Mitarbeiter Statistiken Puzzletime"
= render(:partial => 'period_link')
- Employee.list.each do |em|
  %h2= em.label
  Ueberzeit: #{format_hour em.statistics.current_overtime(@period.endDate)} Stunden
  %br/
  Bezogene Ferien: #{format_hour em.statistics.used_vacations(@period)} Tage
  %br/
  Ferienrestguthaben: #{format_hour em.statistics.remaining_vacations(@period.endDate)} Tage
  %br/
  Projekte:
  %table
    - eval = EmployeeProjectsEval.new(em.id)
    - projects = eval.times(@period).collect { |w| w.project }
    - projects.uniq!
    - projects.sort! {|a,b| a.label_verbose <=> b.label_verbose }
    - projects.each do |p|
      %tr
        %td{:align => "right"}
          = format_hour eval.sum_times(@period, p)
          h
        %td= p.label_verbose
  %hr/
