- @title = 'Eigene Zeitspanne auswählen'
%p
  %table{:cellspacing => "0"}
    %tr
      %td
        = period_link 'Heute', '0d'
      %td &nbsp;
      %td
        = period_link 'Diese Woche', '0w'
      %td &nbsp;
      %td
        = period_link 'Dieser Monat', '0m'
      %td &nbsp;
      %td
        = period_link '1. Quartal', '1q'
      %td &nbsp;
      %td
        = period_link 'Dieses Jahr', '0y'
    %tr
      %td
        = period_link 'Gestern', '-1d'
      %td &nbsp;
      %td
        = period_link 'Letzte Woche', '-1w'
      %td &nbsp;
      %td
        = period_link 'Letzter Monat', '-1m'
      %td &nbsp;
      %td
        = period_link '2. Quartal', '2q'
      %td &nbsp;
      %td
        = period_link 'Letztes Jahr', '-1y'
    %tr
      %td
        = period_link 'Vorgestern', '-2d'
      %td &nbsp;
      %td
        = period_link 'Vorletzte Woche', '-2w'
      %td &nbsp;
      %td
        = period_link 'Vorletzter Monat', '-2m'
      %td &nbsp;
      %td
        = period_link '3. Quartal', '3q'
      %td &nbsp;
      %td
        = period_link 'Vorletztes Jahr', '-2y'
    %tr
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td
        = period_link '4. Quartal', '4q'
      %td &nbsp;
      %td &nbsp;
%br/
%br/
Beliebig:
= form_tag({ action: 'change_period' }, class: 'form-horizontal', role: 'form') do
  = hidden_field_tag :back_url, params[:back_url]
  .form-group
    = label('period', 'startDate', 'Von', class: 'col-md-1 control-label')
    .col-md-2
      .input-group
        = text_field('period', 'startDate', class: 'form-control date', value: I18n.l(@period.startDate))
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
  .form-group
    = label('period', 'endDate', 'Bis', class: 'col-md-1 control-label')
    .col-md-2
      .input-group
        = text_field('period', 'endDate', class: 'form-control date', value: I18n.l(@period.endDate))
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
  .form-group
    .col-md-offset-1.col-md-2
      = submit_tag('Auswählen', class: 'btn btn-primary')

%p
  = link_to 'Zurück zur Übersicht', sanitized_back_url
