- @title = "Zeiten aller #{@evaluation.label} von #{@evaluation.is_a?(EmployeeSubProjectsEval) ? @evaluation.category.label : @user.label}"
= render(:partial => 'period_link')
= time_info
= render(:partial => 'category')
%p
  - if @user.running_attendance
    = link_to "Anwesenheit (seit #{@user.running_attendance.from_start_time.strftime(TIME_FORMAT) }) stoppen",
              {:controller => 'attendancetime', :action => 'stop'},
              :method => 'post'
  - else
    = link_to 'Anwesenheit starten',
              {:controller => 'attendancetime', :action => 'start'},
              :method => 'post'
  - if @evaluation.absences?
    = link_to 'Absenz erfassen',
              :controller => 'absencetime',
              :action => 'add'
    = link_to 'Mehrw&ouml;chige Absenz erfassen',
              :controller => 'absencetime',
              :action => 'add_multi_absence'
  - else
    = link_to 'Alles Komplettieren',
              {:action => 'complete_all', :back_url => request.original_fullpath},
              :method => 'post',
              :confirm => 'Wollen sie wirklich alle Projekte komplettieren?'
  - if @user.management
    = link_to 'Fremderfassen',
              :controller => worktime_controller,
              :action => 'add',
              :other => 1
