- if @user.management || @user.project_manager?
  Verwalte:
  &nbsp;
  = link_to 'Zugehörigkeiten', projectmemberships_path
  &nbsp;
  = link_to 'Projekte', projects_path
- if @user.management
  &nbsp;
  = link_to 'Kunden', clients_path
  &nbsp;
  = link_to 'Bereiche', departments_path
  &nbsp;
  = link_to 'Mitarbeiter', employees_path
  &nbsp;
  = link_to 'Absenzen', absences_path
  &nbsp;
  = link_to 'Feiertage', holidays_path
  &nbsp;
  = link_to 'Nachrichten', user_notifications_path
