.date-label{'data-date' => day}
  .date-day
    = format_day(day, true)
  .date-time-value
    = format_hour(sum_hours(day))
  .date-action
    = link_to(new_projecttime_path(work_date: localize_date(day)), data: {no_turbolink: true}) do
      %i.icon-add

- worktimes = @daily_worktimes[day]
- if worktimes.present?
  = render partial: 'worktime', collection: worktimes, as: :worktime, locals: {day: day}
- else
  = render partial: 'day_empty', locals: {day: day}
