.date-label{'data-date' => day}
  .date-day
    = format_day(day, true)
  .date-time-value
    = format_hour(sum_hours(day))
  - unless current_user.committed_date?(day)
    .date-action
      = link_to(new_ordertime_path(work_date: localize_date(day)), data: { no_turbolink: true }, class: 'date-action-add') do
        %i.icon-add

- worktimes = @daily_worktimes[day]
- if worktimes.present?
  = render partial: 'worktime', collection: worktimes, as: :worktime, locals: { day: day }

- unless worktimes.present? && current_user.committed_date?(day)
  = render partial: 'empty_entry', locals: { day: day, show_link: !current_user.committed_date?(day) }
