-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%tr
  %td Member:
  %td= details.employee.label
%tr
  %td Projekt:
  %td= details.account.label_verbose
%tr
  %td Datum:
  %td= f(details.work_date)
%tr
  %td Zeit:
  %td= details.time_string
%tr
  %td Verrechenbar:
  %td= details.billable ? 'ja' : 'nein'
%tr{:valign => "top"}
  %td Bemerkungen:
  %td= h(details.description).gsub "\n", "<br/>"
