.entry{'data-date' => day}
  .title-description
    .title= worktime_project(worktime)
    .description= worktime_description(worktime)
  .controls
    %a{href: '#dup', title: 'Kopieren'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Kopieren')
    %a{href: '#del', title: 'Löschen'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Löschen')
  .time-value= format_hour(worktime.hours)
  .time-range= time_range(worktime)
  %a.entry-link{href: '#ent'}
