-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%tr
  %td.text-right.text-nowrap= part.time_string
  %td= h(part.account.label_verbose)
  %td= part.ticket
  %td.truncated{title: part.description}= part.description
  - if part.new_record?
    %td
      = link_to 'Löschen',
                {:action => 'delete_part', :part_id => part_counter},
                data: { confirm: 'Wollen sie diese Arbeitszeit wirklich entfernen?',
                        method: 'delete' }
  - elsif record_other?
    %td
      = link_to 'Bearbeiten',
                {:controller => part.controller, :action => 'edit', :id => part.id}
    - if @user == @worktime.employee
      %td
        = link_to 'Löschen',
                  {:controller => part.controller, :action => 'destroy', :id => part.id, :back => 1},
                  data: { confirm: 'Wollen sie diese Arbeitszeit wirklich entfernen?',
                          method: 'delete' }
