-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.entry{'data-date' => day}
  - unless worktime.billable
    %i.billable-icon.icon-dollar-stroke
  - if worktime.meal_compensation
    %i.meal-compensation-icon.icon-restaurant
  .title-description
    .title= worktime_account(worktime)
    .description= worktime_description(worktime)
  .time-range
    = time_range(worktime)
  .time-value= format_hour(worktime.hours)
  .controls
    = link_to(new_polymorphic_url(worktime, template: worktime),
              {title: 'Kopieren'}) do
      %i.icon-duplicate
    - if can?(:destroy, worktime)
      = link_to(polymorphic_url(worktime),
                title: 'Löschen',
                data: { method: :delete,
                        confirm: 'Wollen Sie diesen Eintrag wirklich löschen?' }) do
        %i.icon-delete
  = link_to_if(can?(:edit, worktime), '', edit_polymorphic_url(worktime), class: 'entry-link')
