- @title = "#{@worktime.class.label} bearbeiten"
- buttons = nil
- buttons = ['Speichern', AttendancetimesController::SPLIT] if @worktime.kind_of? Attendancetime
#existing
  = render :partial => 'existing'
= form_tag evaluation_detail_params.merge!({:action => 'update', :id => @worktime}), method: :patch do
  = render :partial => 'form', :locals => {:submit => buttons, :auto_start_stop_type => @worktime.report_type == AutoStartType::INSTANCE }
%p
  = link_to 'Arbeitszeiten', evaluation_detail_params.merge!({:controller => 'evaluator', :action => controller.detail_action })
  - if @user == @worktime.employee
    |
    = link_to 'Löschen', evaluation_detail_params.merge!({ :action =>'confirm_delete', :id => @worktime})
