.worktimes{'data-selected-date' => @selected_date}
  .figures
    .balance
      Überzeitsaldo:
      = format_hour(@current_overtime)
    .monthly
      Monatliche Arbeitszeit:
      = monthly_worktime
    .holidays
      Feriensaldo:
      = format_days(@remaining_vacations)

  .weeknav-container
    .weeknav
      = link_to(worktimes_url(week_date: @previous_week_date),
                {class: 'weeknav-link previous', title: 'Vorherige Woche'}) do
        %i.icon-previous

      %ul.weeknav-days
        = render partial: 'overview_day', collection: @week_days, as: :day
      .weeknav-calendar-row
        = hidden_field_tag('week_date', I18n.l(@selected_date), class: 'date')
        %i.icon-calendar
        = I18n.l(@selected_date)
        - if @user.management
          = link_to('Fremderfassen', new_projecttime_path(other: 1, work_date: I18n.l(@selected_date)),
                    {class: 'add-other'})
      .weeknav-add-row
        = link_to(new_projecttime_path(work_date: I18n.l(@selected_date)),
                  {class: 'btn btn-primary', title: 'Zeit/Abwesenheit erfassen'}) do
          %i.icon-add
          %span.add-text
            Hinzufügen
      .weeknav-total.weeknav-element
        .inner
          .weeknav-label Total
          .weeknav-time= format_hour(sum_total_worktimes(@worktimes))

      = link_to(worktimes_url(week_date: @next_week_date),
                {class: 'weeknav-link next', title: 'Nächste Woche'}) do
        %i.icon-next

  .weekcontent
    - if @worktimes.present?
      = render partial: 'list', collection: @week_days, as: :day
    - else
      .row
        .col-xs-offset-1.col-xs-10
          In dieser Woche wurden noch keine Zeiten erfasst
