.worktimes{'data-selected-date' => @selected_date}
  .figures
    .balance
      Überzeitsaldo:
      = format_hour(@current_overtime)
    .monthly
      Monatliche Arbeitszeit:
      = monthly_worktime

  .weeknav
    = link_to(image_tag('arrow-left.png', 'size' => '16x16', 'alt' => "Vorherige Woche"), worktimes_url(week_date: @previous_week_date), class: 'week-link')

    .browser
      %ul.days
        = render partial: 'overview_day', collection: @week_days, as: :day
      .control
        = link_to 'Erfassen', new_projecttime_path, {title: 'Zeit/Abwesenheit erfassen'}
      .control
        = date_calendar_field 'date_picker', 'week_date', type: 'hidden', value: @selected_date
      .total
        Total:
        = format_hour(sum_total_worktimes(@worktimes))

    = link_to(image_tag('arrow-right.png', 'size' => '16x16', 'alt' => "Nächste Woche"), worktimes_url(week_date: @next_week_date), class: 'week-link')

  .weekcontent
    - if @worktimes.present?
      = render partial: 'list', collection: @week_days, as: :day
    - else
      %p
        In dieser Woche wurden noch keine Zeiten erfasst
