.worktimes
  .figures
    .balance
      Überzeitsaldo: 
      = format_hour(@current_overtime)
    .monthly
      Monatliche Arbeitszeit: 
      = monthly_worktime
    %a.calendar{href: '#', title: 'Choose date'}= image_tag('calendar.png', 'size' => '16x16', 'alt' => 'Choose date')

  .weeknav
    %a.week-link{href: '#', title: 'Previous week'}= image_tag('arrow-left.png', 'size' => '16x16', 'alt' => 'Previous week')

    .browser
      %ul.days
        = render partial: 'overview_day', collection: @week_days, as: :day
        %li.total
          Total:
          = format_hour(sum_total_worktimes(@worktimes))

    %a.week-link{href: '#', title: 'Next week'}= image_tag('arrow-right.png', 'size' => '16x16', 'alt' => 'Next week')

  .weekcontent
    = render partial: 'list', collection: @week_days, as: :day

  .controls
    %button Hinzufügen
    %a{href: '#'} Absenz erfassen

