-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.worktimes-container.unindented{'data-selected-date' => @selected_date}
  .figures
    .balance{ title: 'Saldo per Gestern', 'data-toggle' => 'tooltip' }
      Überstundensaldo:
      = format_hour(@current_overtime)
    .monthly
      Monatliche Arbeitszeit:
      = monthly_worktime
    .holidays{ title: 'Der Saldo berücksichtigt bereits geplante Ferien.', 'data-toggle' => 'tooltip' }
      Feriensaldo:
      = format_days(@remaining_vacations)

  .weeknav-container
    .weeknav
      = link_to(worktimes_url(week_date: @previous_week_date),
                {class: 'weeknav-link previous', title: 'Vorherige Woche'}) do
        %i.icon-chevron-left

      .weeknav-content
        .weeknav-calendar-row
          - if @selected_date == @today_week_date
            = link_to 'Heute', worktimes_url, class: 'btn btn-primary today-link-white'
          - else
            = link_to 'Heute', worktimes_url, class: 'btn btn-primary today-link-blue'
          = plain_form(Worktime.new, method: :get) do |f|
            .nowrap
              = f.date_field(:work_date,
                             id: 'week_date',
                             data: { changeyear: true })

              KW
              = week_number(@selected_date)

          .weeknav-actions.nowrap
            = link_to('Zeiten freigeben',
                      edit_employee_worktimes_commit_path(current_user),
                      class: 'add-other',
                      data: { modal: '#modal',
                              title: 'Zeiten freigeben',
                              remote: true,
                              type: :html })
            - if @user.management
              %span.add-other
                &nbsp;|&nbsp;
              = link_to('Fremderfassen', new_ordertime_path(other: 1),
                        { class: 'add-other', id: 'new_other_ordertime_link' })
        %ul.weeknav-days
          = render partial: 'overview_day', collection: @week_days, as: :day
          %li.weeknav-total.weeknav-element
            .inner
              .weeknav-label Total
              .weeknav-time= format_hour(sum_hours)

      = link_to(worktimes_url(week_date: @next_week_date),
                { class: 'weeknav-link next', title: 'Nächste Woche' }) do
        %i.icon-chevron-right

  .weekcontent
    = render partial: 'day', collection: @week_days, as: :day

= render 'shared/modal'
