.worktimes{'data-selected-date' => @selected_date}
  .figures
    .balance
      Überzeitsaldo:
      = format_hour(@current_overtime)
    .monthly
      Monatliche Arbeitszeit:
      = monthly_worktime

  .weeknav-container
    .weeknav
      = link_to(image_tag('arrow-left.png', 'size' => '16x16', 'alt' => "Vorherige Woche"), worktimes_url(week_date: @previous_week_date), class: 'weeknav-link')

      .browser
        %ul.weeknav-days
          = render partial: 'overview_day', collection: @week_days, as: :day
        .controls
          .weeknav-element
            .inner
              .label Total
              .time= format_hour(sum_total_worktimes(@worktimes))
          .weeknav-element
            .inner
              = date_calendar_field 'date_picker', 'week_date', type: 'hidden', value: @selected_date
          .weeknav-element
            .inner
              = link_to 'Erfassen', new_projecttime_path(work_date: @selected_date), {title: 'Zeit/Abwesenheit erfassen'}

      = link_to(image_tag('arrow-right.png', 'size' => '16x16', 'alt' => "Nächste Woche"), worktimes_url(week_date: @next_week_date), class: 'weeknav-link')

  .weekcontent
    - if @worktimes.present?
      = render partial: 'list', collection: @week_days, as: :day
    - else
      %p
        In dieser Woche wurden noch keine Zeiten erfasst
