- @title = "Neue #{@worktime.class.label}"
- buttons = [WorktimesController::FINISH, 'Speichern und weiter erfassen']
#existing
  = render :partial => 'existing'
= form_tag :controller => @worktime.controller, :action => 'create' do
  = render :partial => 'form', :locals => {:submit => buttons, :auto_start_stop_type => !@worktime.kind_of?(Absencetime) && @worktime.employee == @user}
%p
  - if record_other?
    = link_to 'Arbeitszeiten', evaluation_detail_params.merge!({:controller => 'evaluator', :action => 'details' })
  - else
    = link_to 'Übersicht', :controller => @worktime.controller, :action => 'index'
