.worktimes
  .figures
    .balance
      Überzeitsaldo: 8:55
    .monthly
      Monatliche Arbeitszeit: 126:00 (2:45 verbleibend)
    %a.calendar{href: '#', title: 'Choose date'}= image_tag('calendar.png', 'size' => '16x16', 'alt' => 'Choose date')

  .weeknav
    %a.week-link{href: '#', title: 'Previous week'}= image_tag('arrow-left.png', 'size' => '16x16', 'alt' => 'Previous week')

    .browser
      %ul.days
        %li.day{'data-date' => '2014-05-05'}
          .date Mo 5.5.
          .time 8:15
        %li.day.empty{'data-date' => '2014-05-06'}
          .date Di 6.5.
          .time 8:30
        %li.day.active{'data-date' => '2014-05-07'}
          .date Mi 7.5.
          .time 0:00
        %li.day.holiday{'data-date' => '2014-05-08'}
          .date Do 8.5.
          .time 0:00
        %li.day{'data-date' => '2014-05-09'}
          .date Fr 9.5.
          .time 0:00
        %li.day.holiday{'data-date' => '2014-05-10'}
          .date Sa 10.5.
          .time 0:00
        %li.day.holiday{'data-date' => '2014-05-11'}
          .date So 11.5.
          .time 0:00
        %li.total
          Total: 16:15

    %a.week-link{href: '#', title: 'Next week'}= image_tag('arrow-right.png', 'size' => '16x16', 'alt' => 'Next week')

  .weekcontent
    .date-label{'data-date' => '2014-05-05'}
      Mo 5. Mai

    .entry{'data-date' => '2014-05-05'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen, sehr lange Bemerkungen, welche nicht auf einer Zeile platz haben, werden abgeschnitten, weil sie ja sonst eh kein Platz hätten. Und dann sieht es ganz passabel aus und alle sind glücklich und froh.
      .controls
        %a{href: '#dup', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#del', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#ent'}

    .entry{'data-date' => '2014-05-05'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-05'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-05'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .date-label{'data-date' => '2014-05-06'}
      Di 6. Mai

    .entry{'data-date' => '2014-05-06'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-06'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-06'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-06'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-06'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .date-label.empty{'data-date' => '2014-05-07'}
      Mi 7. Mai

    .date-label{'data-date' => '2014-05-08'}
      Do 8. Mai

    .entry{'data-date' => '2014-05-08'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-08'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-08'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-08'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-08'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .date-label{'data-date' => '2014-05-09'}
      Fr 9. Mai

    .entry{'data-date' => '2014-05-09'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-09'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-09'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-09'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .entry{'data-date' => '2014-05-09'}
      .title-description
        .title SAJA-IWS-RE2
        .description 1234 &ndash; Mockups erstellen
      .controls
        %a{href: '#', title: 'Duplicate'}= image_tag('copy.png', 'size' => '16x16', 'alt' => 'Duplicate')
        %a{href: '#', title: 'Delete'}= image_tag('remove.png', 'size' => '16x16', 'alt' => 'Duplicate')
      .time-value 1:50
      .time-range 07:00&ndash;09:00
      %a.entry-link{href: '#'}

    .date-label.empty{'data-date' => '2014-05-10'}
      Sa 10. Mai

    .date-label.empty{'data-date' => '2014-05-11'}
      Sa 11. Mai

  .controls
    %button Hinzufügen
    %a{href: '#'} Absenz erfassen
