= form_tag(nil, method: :get, class: 'form-inline', role: 'filter', remote: true) do
  = hidden_field_tag :page, 1

  = direct_filter_date(:start_date, 'Von', @period.start_date)
  = direct_filter_date(:end_date, 'Bis', @period.end_date)
  = direct_filter_select(:period, nil, predefined_future_period_options, prompt: 'benutzerdefiniert')
