.planning-panel.panel.panel-default
  = form_tag(plannings_order_path) do
    .panel-body
      .alerts{ style: 'display: none' }
      .form-group
        = label_tag(:percent, 'Pensum')
        .input-group.planning-percent-group
          = number_field_tag(:percent, nil, class: 'form-control', min: '0', max: '999')
          .input-group-addon %
      .form-group
        = label_tag(nil, 'Status')
        %div
          = hidden_field_tag(:definitive)
          .btn-group.planning-definitive-group{role: :group}
            = button_tag('provisorisch', type: :button, class: 'planning-provisional btn btn-default')
            = button_tag('fix', type: :button, class: 'planning-definitive btn btn-default')
      .form-group
        .checkbox
          = label_tag do
            = check_box_tag(:repetition)
            Wiederholung wöchentlich
    .panel-footer
      = link_to(plannings_order_path,
                title: 'Löschen',
                class: 'planning-delete btn text-danger') do
        %i.icon-delete
      = button_tag('Abbrechen', type: :button, class: 'planning-cancel btn btn-link')
      = button_tag('OK', type: :submit, class: 'btn btn-primary')
