-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.legend{ title: legend }
  = link_to_if(can?(:show_plannings, legend), legend, planning_legend_path(legend))

  .rowtotals
    - total_period_tooltip = 'Total der auf dieser Position geplanten Zeit im dargestellten Zeitbereich'
    - total_position_tooltip = 'Total der auf dieser Position geplanten Zeit'
    .col-sum 
      - if !local_assigns[:row_total_period].nil?
        = with_tooltip(total_period_tooltip) do
          = format_hour(row_total_period, 0)
    .col-sum
      - row_total_overall = true if local_assigns[:row_total_overall].nil?
      - total_tooltip = row_total_overall ? total_position_tooltip : total_period_tooltip
      = with_tooltip(total_tooltip) do
        = format_hour(row_total, 0)

- items.each do |item|
  .day{ item.day_attrs }
    = item
