- if @boards.present?
  - content_for(:content_header) do
    %div

  .layout-row
    #boards.layout-column
      - @boards.each_with_index do |board, i|
        - @board = board
        = render 'header', filter: i == 0

        .planning-board{ id: "board_#{dom_id(board.subject)}" }
          = render 'board'

  = render 'legend'

  = render 'panel'
  = render 'add_row'

- else
  %p Keine Einträge vorhanden
