-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @boards.each do |board|
  - @board = board
  $('#board_#{dom_id(board.subject)}').html('#{j(render('board'))}');
  $('#planned_#{dom_id(board.subject)}').html('#{j(render('header_planned'))}');

$('#add_employee_id,#add_work_item_id').remove()
$('#boards').parent().append('#{j(render('add_row'))}')

App.plannings.reloadAll()
App.plannings.dateFilterChanged()

= render 'shared/flash_alert'
