:plain
  (function() {
    var filter = [
      '[data-work-item-id="#{params[:work_item_id]}"]',
      '[data-employee-id="#{params[:employee_id]}"]'
    ].join(',');
    var container = '<div id="planning_row_employee_#{params[:employee_id]}_work_item_#{params[:work_item_id]}" class="planning-calendar-days">';
    var row = '#{j(render('row', items: @items, legend: @legend))}';

    $('.actions').filter(filter).before($(container).html(row));
  })();
