-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


App.plannings.selectable.clear();
App.plannings.selectable.destroy();
$('#weeks_header_#{dom_id(@board.subject)}').html('#{j(render 'calendar_weeks')}');
$('#planned_#{dom_id(@board.subject)}').html('#{j(render('header_planned'))}');
- @board.rows.each do |ids, items|
  - html = row_update_html(ids, items)
  $('##{planning_row_id(*ids)}').html('#{html}');

App.plannings.initWaypoints();
App.plannings.selectable.init();
