#headerbar.navbar.navbar-default{role: 'navigation', class: ('lonely' unless @user)}
  .container-fluid
    .navbar-header
      .navbar-brand
        = image_tag 'logo.svg', :size => '41x40'
        PuzzleTime
        %span.version
          = Puzzletime.version
    %ul.nav.navbar-nav.navbar-right
      - if @user
        %li
          = link_to(settings_employees_path) do
            %i.icon-user
            = @user.label
      %li
        = link_to('https://twiki.puzzle.ch/bin/view/PITC_PuzzleTime/Besonderheiten') do
          %i.icon-help
      - if @user
        %li
          = link_to 'Logout',  {:controller => 'login',  :action => 'logout'}, :method => 'post'
