-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


#headerbar.navbar.navbar-default{role: 'navigation', class: ('lonely' unless @user)}
  .container-fluid
    .navbar-header
      .navbar-brand
        = image_tag 'logo.svg', size: '41x40'
        PuzzleTime
        = link_to Puzzletime.version, Puzzletime.changelog_url, class: 'version'
    %ul.nav.navbar-nav.navbar-right
      - if @user
        %li.navbar-user
          = link_to(settings_employees_path) do
            %i.icon-user
            = @user.label
      - if Settings.help.url
        %li
          = link_to(Settings.help.url) do
            %i.icon-help
      - if @user
        %li
          = link_to 'Logout', destroy_employee_session_path, method: :delete
