-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


#menu.navbar.navbar-inverse
  .container-fluid
    %ul.nav.navbar-nav
      = nav 'Zeiterfassung',
            root_path,
            worktimes_path,
            ordertimes_path,
            absencetimes_path,
            weekly_graph_path(current_user.id)
      = model_nav Order
      = nav 'Planung',
            plannings_employee_path(current_user.id),
            plannings_orders_path,
            plannings_employees_path,
            plannings_departments_path,
            plannings_company_path,
            plannings_custom_lists_path
      = nav 'Auswertungen',
            evaluation_path('userworkitems', clear: 1),
            '/evaluator',
            reports_orders_path,
            reports_workload_path,
            reports_revenue_path,
            reports_role_distribution_path,
            vacations_path
      - if can?(:manage, Client)
        = nav 'Verwalten',
              clients_path,
              clients_path,
              absences_path,
              departments_path,
              employees_path,
              user_notifications_path,
              holidays_path,
              order_kinds_path,
              order_statuses_path,
              portfolio_items_path,
              services_path,
              sectors_path,
              target_scopes_path,
              working_conditions_path,
              employment_roles_path,
              employment_role_levels_path,
              employment_role_categories_path

