-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


#menu.navbar.navbar-inverse
  .container-fluid
    %ul.nav.navbar-nav
      = nav 'Zeiterfassung',
            root_path,
            worktimes_path,
            ordertimes_path,
            absencetimes_path,
            weekly_graph_path(current_user.id),
            evaluation_path('userworkitems'),
            evaluation_path('userabsences')

      = nav 'Spesen',
        employee_expenses_path(current_user),
        expenses_path

      = nav 'Aufträge',
            orders_path,
            orders_path,
            reports_orders_path,
            reports_revenue_path,
            reports_billing_path,
            reports_invoices_path,
            evaluation_path('clients'),
            evaluation_path('departments'),
            evaluation_path('managed'),
            evaluation_path('clientworkitems'),
            evaluation_path('workitememployees'),
            evaluation_path('departmentorders'),
            evaluation_path('subworkitems')

      = nav 'Planung',
            plannings_employee_path(current_user.id),
            plannings_orders_path,
            plannings_employees_path,
            plannings_departments_path,
            plannings_company_path,
            plannings_custom_lists_path

      = nav 'Members',
            employee_master_data_path,
            employee_master_data_path,
            evaluation_path('employees') + '$',
            evaluation_path('employeeworkitems'),
            evaluation_path('absences'),
            evaluation_path('employeeabsences'),
            reports_workload_path,
            reports_export_path,
            vacations_path,
            Settings.meal_compensation.present? ? meal_compensations_path : nil


      - if can?(:manage, Client)
        = nav 'Verwalten',
              clients_path,
              clients_path,
              employees_path + '$',
              departments_path,
              configurations_path,
              absences_path,
              user_notifications_path,
              holidays_path,
              order_kinds_path,
              order_statuses_path,
              portfolio_items_path,
              services_path,
              sectors_path,
              target_scopes_path,
              working_conditions_path,
              employment_roles_path,
              employment_role_levels_path,
              employment_role_categories_path
