#menu.navbar.navbar-inverse
  .container-fluid
    %ul.nav.navbar-nav
      = nav 'Zeiterfassung',
            root_path,
            worktimes_path,
            ordertimes_path,
            absencetimes_path,
            weekly_graph_path
      = model_nav Order
      = nav 'Planung',
            plannings_orders_path,
            plannings_orders_path,
            plannings_employees_path,
            plannings_departments_path
      = nav 'Auswertungen',
            evaluation_path('userworkitems', clear: 1),
            '/evaluator',
            reports_orders_path,
            reports_workload_path,
            all_absences_graph_path
      - if can?(:manage, Client)
        = nav 'Verwalten',
              clients_path,
              clients_path,
              absences_path,
              departments_path,
              employees_path,
              user_notifications_path,
              holidays_path,
              order_kinds_path,
              order_statuses_path,
              portfolio_items_path,
              target_scopes_path,
              working_conditions_path
