#menu
  %ul
    %li.first= link_to 'Meine Zeit', :controller => 'evaluator', :action => 'userProjects', :clear => 1
    - if @user.project_manager?
      %li= link_to 'Meine Projekte', :controller => 'evaluator', :action => 'managed', :clear => 1
    %li= link_to 'Planung', :controller => 'planning', :action => 'index', :clear => 1
    - if @user.management
      %li= link_to 'Kunden', :controller => 'evaluator', :action => 'clients', :clear => 1
      %li= link_to 'Mitarbeiter', :controller => 'evaluator', :action => 'employees', :clear => 1
      %li= link_to 'Absenzen', :controller => 'evaluator', :action => 'absences', :clear => 1
      %li= link_to 'Bereiche', :controller => 'evaluator', :action => 'departments', :clear => 1
    %li= link_to 'Ferienplan', :controller => 'graph', :action => 'all_absences'
    %li= link_to 'Verwalten', :controller => 'projectmembership'
