!!! Strict
%html{:lang => "de", "xml:lang" => "de", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      puzzleTime #{"- #{strip_tags(@title)}" if @title}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "no-cache", "http-equiv" => "pragma"}/
    %meta{:content => "no-cache", "http-equiv" => "cache-control"}/
    = csrf_meta_tag
    = favicon_link_tag 'favicon.gif'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:300,400,500', :media => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
  %body
    #headerbar.navbar.navbar-default{role: 'navigation'}
      .container-fluid
        .navbar-header
          .navbar-brand
            = image_tag 'logo.svg', :size => '41x40'
            PuzzleTime
            %span.version
              = Puzzletime.version
        %ul.nav.navbar-nav.navbar-right
          - if @user
            %li
              = link_to(settings_employees_path) do
                %i.icon-user
                = @user.label
          %li
            = link_to('https://twiki.puzzle.ch/bin/view/Puzzle/PuzzleTimeFAQ') do
              %i.icon-help
          - if @user
            %li
              = link_to 'Logout',  {:controller => 'login',  :action => 'logout'}, :method => 'post'
    - if @user
      = render 'layouts/menu'

      #submenu.navbar.navbar.navbar-default
        .container-fluid
          %ul.nav.navbar-nav
            = render 'submenu'

      #breadcrumb
        = render 'breadcrumb'

    #content
      %h1= @title
      #flash
        = render partial: 'layouts/flash', collection: [:notice, :alert], as: :level
      %div
        = yield

  = javascript_tag(yield(:javascript)) if content_for?(:javascript)
