!!! Strict
%html{:lang => "de", "xml:lang" => "de", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      puzzleTime #{"- #{strip_tags(@title)}" if @title}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "no-cache", "http-equiv" => "pragma"}/
    %meta{:content => "no-cache", "http-equiv" => "cache-control"}/
    = csrf_meta_tag
    = favicon_link_tag 'favicon.gif'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:300,400,500', :media => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
  %body
    #content
      = image_tag 'space.gif', :size => '840x1'
      #header
        = image_tag 'banner.jpg', :size => '547x75', :id => 'banner'
        #splash
          #brand
            puzzleTime
            %sup= Puzzletime.version
          #company &nbsp; by Puzzle ITC
      - if @user
        = render 'layouts/menu'
        #menu_user
          = link_to @user.label, settings_employees_path
          |
          = link_to '?', 'https://twiki.puzzle.ch/bin/view/Puzzle/PuzzleTimeFAQ'
          |
          = link_to 'Logout',  {:controller => 'login',  :action => 'logout'}, :method => 'post'
        #submenu
          %ul
            = render 'submenu'
        #breadcrumb
          = render 'breadcrumb'

      %h1= @title
      - if flash.key?('notice')
        #notice= flash[:notice].html_safe
      %div
        = yield

  = javascript_tag(yield(:javascript)) if content_for?(:javascript)
