!!! 5
%html{lang: 'de'}
  %head
    %meta{charset: 'utf-8'}
    %title
      PuzzleTime #{"- #{strip_tags(@title)}" if @title}

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{content: "no-cache", "http-equiv" => "pragma"}/
    %meta{content: "no-cache", "http-equiv" => "cache-control"}/

    = csrf_meta_tag
    = favicon_link_tag 'favicon.png'

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500', :media => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true

  %body{class: controller.controller_name}
    = render 'layouts/headerbar'
    - if @user
      = render 'layouts/menu'

      #submenu.navbar.navbar.navbar-default
        .container-fluid
          %ul.nav.navbar-nav
            = render 'submenu'

      = render 'breadcrumb'

    %main#content{ role: 'main' }
      - if content_for?(:content_header)
        = yield :content_header
      - else
        %h1.h3= @title

      #flash
        = render partial: 'layouts/flash', collection: [:notice, :alert], as: :level
      = render partial: 'layouts/notification'
      %div
        = yield

  = javascript_tag(yield(:javascript)) if content_for?(:javascript)
