-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


!!! Strict
%html{:lang => "de", "xml:lang" => "de", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      puzzleTime - #{@title}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "no-cache", "http-equiv" => "pragma"}/
    %meta{:content => "no-cache", "http-equiv" => "cache-control"}/
    %meta{:content => "width=420", :name => "viewport"}/
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'phone'
  %body{class: controller.controller_name}
    #header
      #brand
        puzzleTime
        %sup 1.3
    %h1= @title
    - if flash.has_key?(:notice)
      #notice= flash[:notice]
    %main{ role: 'main' }
      = yield
