- type ||= :calendar_day
%tr
  %th{:colspan => "2"}= link_to user.label, :controller => 'plannings', :action => 'employee_planning', :employee_id => user
  - if type == :calendar_week
    = week_overview_tds(employee_planning_graph.overview_graph)
  - else
    = week_overview_tds(employee_planning_graph.overview_graph, 10)
- employee_planning_graph.work_items_abstr.each do |work_item|
  %tr
    %td &nbsp;&nbsp;P&nbsp;&nbsp;&nbsp;
    %th
      = link_to work_item.label_verbose, :controller => 'plannings', :action => 'work_item_planning', :work_item_id => work_item
    - employee_planning_graph.each_week do |week|
      - if type == :calendar_week
        = week_planning_td(employee_planning_graph.plannings_abstr, user, work_item, week)
      - else
        = day_planning_tds(employee_planning_graph.plannings_abstr, user, work_item, week)
- employee_planning_graph.work_items.each do |work_item|
  %tr
    %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %th
      = link_to work_item.label_verbose, :controller => 'plannings', :action => 'work_item_planning', :work_item_id => work_item
    - employee_planning_graph.each_week do |week|
      - if type == :calendar_week
        = week_planning_td(employee_planning_graph.plannings, user, work_item, week)
      - else
        = day_planning_tds(employee_planning_graph.plannings, user, work_item, week)
%tr
  %td{:style => "width:30px"}
  %th Abwesenheiten
  - employee_planning_graph.each_week do |week|
    - if type == :calendar_week
      = week_absence_td(employee_planning_graph.absence_graph, week)
    - else
      = day_absence_tds(employee_planning_graph.absence_graph, week)
%tr
  %th{:style => "width:30px"}
  %th Neue Planung
  - employee_planning_graph.each_week do |week|
    - if type == :calendar_week
      = week_planning_td(employee_planning_graph.plannings, user, nil, week)
    - else
      = day_planning_tds(employee_planning_graph.plannings, user, nil, week)
