= crud_form do |f|
  = f.labeled_belongs_to_field(:employee_id,
                               class: 'searchable',
                               data: { remote: true,
                                       url: url_for(action: 'existing'),
                                       dynamic_params: 'planning[start_week_date]' })
  = f.labeled_date_field(:start_week_date,
                         data: { format: :week,
                                 remote: true,
                                 url: url_for(action: 'existing'),
                                 dynamic_params: 'planning[employee_id]' })

  = f.labeled(:p, caption: 'Aktuelle Planung') do
    #existing
      = render :partial => 'existing'

  = f.labeled_collection_select(:work_item_id,
                                @work_items,
                                :id,
                                :label_verbose,
                                f.select_options(:work_item_id),
                                class: 'form-control searchable')

  = f.labeled('Auswahl') do
    .radio
      %label
        = f.radio_button('abstract_concrete', 'concrete', :checked => (!@planning.is_abstract || @planning.new_record?))
        Tagesplanung

      %table.table.table-striped.table-condensed.table-inline{style: 'margin-bottom: 10px;'}
        %thead
          %tr
            %th
            - (1..5).each do |i|
              %th= I18n.t(:'date.abbr_day_names')[i]
        %tbody
          %tr
            %td Vormittag
            %td= check_box 'planning', 'monday_am', data: { switch_day: 'planning_monday'}
            %td= check_box 'planning', 'tuesday_am', data: { switch_day: 'planning_tuesday' }
            %td= check_box 'planning', 'wednesday_am', data: { switch_day: 'planning_wednesday' }
            %td= check_box 'planning', 'thursday_am', data: { switch_day: 'planning_thursday' }
            %td= check_box 'planning', 'friday_am', data: { switch_day: 'planning_friday' }
          %tr
            %td Nachmittag
            %td= check_box 'planning', 'monday_pm', data: { switch_day: 'planning_monday' }
            %td= check_box 'planning', 'tuesday_pm', data: { switch_day: 'planning_tuesday' }
            %td= check_box 'planning', 'wednesday_pm', data: { switch_day: 'planning_wednesday' }
            %td= check_box 'planning', 'thursday_pm', data: { switch_day: 'planning_thursday' }
            %td= check_box 'planning', 'friday_pm', data: { switch_day: 'planning_friday' }
          %tr
            %td{:rowspan => "2"} Ganzer Tag
            %td= check_box 'planning', 'monday', data: { switch_half_day: 'planning_monday' }
            %td= check_box 'planning', 'tuesday', data: { switch_half_day: 'planning_tuesday' }
            %td= check_box 'planning', 'wednesday', data: { switch_half_day: 'planning_wednesday' }
            %td= check_box 'planning', 'thursday', data: { switch_half_day: 'planning_thursday' }
            %td= check_box 'planning', 'friday', data: { switch_half_day: 'planning_friday' }

    .row
      .col-md-2
        .radio
          %label
            = f.radio_button('abstract_concrete', 'abstract', :checked => @planning.is_abstract)
            Prozentplanung
      .col-md-2
        = f.select("abstract_amount", (1..44).collect {|x| ["#{x*2.5}%", x*2.5]}, {:include_blank => true}, class: 'form-control')

  = f.labeled('Wiederholung') do
    .radio
      %label
        = f.radio_button('repeat_type', 'no', :checked => (@planning.repeat_type_no? || @planning.new_record?))
        Keine
    .row
      .col-md-1
        .radio
          %label
            = f.radio_button('repeat_type', 'until', :checked => @planning.repeat_type_until?)
            Bis KW
      .col-md-3
        = f.date_field :end_week_date, class: 'col-md-3', data: { format: :week }
    .radio
      %label
        = f.radio_button('repeat_type', 'forever', :checked => (!@planning.new_record? && @planning.repeat_type_forever?))
        Unbeschränkt

  = f.labeled('Typ') do
    .radio
      %label
        = f.radio_button('type', 'tentative', :checked => !@planning.definitive)
        Provisorisch
    .radio
      %label
        = f.radio_button('type', 'definitive', :checked => @planning.definitive)
        Definitiv

  = f.labeled_text_area(:description)


- if @planning.persisted?
  %p
    = destroy_action_link
