- # TODO: define active_for paths
= nav 'Meine Planung', :controller => 'plannings', :action => 'my_planning'
= nav 'Meine Projekte', :controller => 'plannings', :action => 'my_projects'
= nav 'Mitarbeiter', :controller => 'plannings', :action => 'employees'
= nav 'Projekte', :controller => 'plannings', :action => 'projects'
= nav 'Bereiche', :controller => 'plannings', :action => 'departments'
= nav 'Unternehmen', :controller => 'plannings', :action => 'company_planning'
= nav 'Listen', :controller => 'plannings', :action => 'employee_lists'
