= nav 'Meine Planung', planning_path('my_planning')
= nav 'Meine Positionen', planning_path('my_work_items')
= nav 'Mitarbeiter', planning_path('employees'), planning_path('employee_planning')
= nav 'Positionen', planning_path('work_items'), planning_path('work_item_planning')
= nav 'Bereiche', planning_path('departments'), planning_path('department_planning')
= nav 'Unternehmen', planning_path('company_planning')
= nav 'Listen', employee_lists_path, planning_path('employee_lists_planning')
