= nav 'Meine Planung', planning_path('my_planning')
= nav 'Meine Projekte', planning_path('my_projects')
= nav 'Mitarbeiter', planning_path('employees'), planning_path('employee_planning')
= nav 'Projekte', planning_path('projects'), planning_path('project_planning')
= nav 'Bereiche', planning_path('departments'), planning_path('department_planning')
= nav 'Unternehmen', planning_path('company_planning')
= nav 'Listen', employee_lists_path, planning_path('employee_lists_planning')
