= link_to 'Meine Planung', :controller => 'plannings', :action => 'my_planning'
\&nbsp;
\#{link_to 'Meine Projekte', :controller => 'plannings', :action => 'my_projects'}
\&nbsp;
\#{link_to 'Mitarbeiter', :controller => 'plannings', :action => 'employees'}
\&nbsp;
\#{link_to 'Projekte', :controller => 'plannings', :action => 'projects'}
\&nbsp;
\#{link_to 'Bereiche', :controller => 'plannings', :action => 'departments'}
\&nbsp;
\#{link_to 'Unternehmen', :controller => 'plannings', :action => 'company_planning'}
\&nbsp;
\#{link_to 'Listen', :controller => 'plannings', :action => 'employee_lists'}
