- type ||= :calendar_day
%tr
  %th{:colspan => "2", :class => 'nowrap'}= work_item_planning_graph.work_item.label_verbose
  = week_overview_tds(work_item_planning_graph.overview_graph, 10)

- work_item_planning_graph.employees_abstr.each do |employee|
  - absence_graph = work_item_planning_graph.get_absence_graph(employee.id)
  %tr{:style => "height:2px"}
    %td{:style => "width:30px; border-width:0px 1px 0px 0px;"}
    %th{:style => "border-width:0px 1px 0px 0px;"}
    - work_item_planning_graph.each_week do |week|
      - if type == :calendar_week
        = week_absence_td_proj(absence_graph, week)
      - else
        = day_absence_tds_proj(absence_graph, week)
  %tr
    %td &nbsp;&nbsp;&nbsp;P&nbsp;&nbsp;
    %th= link_to employee.label, :controller => 'plannings', :action => 'employee_planning', :employee_id => employee
    - work_item_planning_graph.each_week do |week|
      = day_planning_tds(work_item_planning_graph.plannings_abstr, employee, work_item_planning_graph.work_item, week)

- work_item_planning_graph.employees.each do |employee|
  - absence_graph = work_item_planning_graph.get_absence_graph(employee.id)
  %tr{:style => "height:2px"}
    %td{:style => "width:30px; border-width:0px 1px 0px 0px;"}
    %th{:style => "border-width:0px 1px 0px 0px;"}
    - work_item_planning_graph.each_week do |week|
      - if type == :calendar_week
        = week_absence_td_proj(absence_graph, week)
      - else
        = day_absence_tds_proj(absence_graph, week)
  %tr
    %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %th= link_to employee.label, :controller => 'plannings', :action => 'employee_planning', :employee_id => employee
    - work_item_planning_graph.each_week do |week|
      = day_planning_tds(work_item_planning_graph.plannings, employee, work_item_planning_graph.work_item, week)

%tr
  %th{:style => "width:30px"}
  %th Neue Planung
  - work_item_planning_graph.each_week do |week|
    = unplanned_half_day_tds(nil, work_item_planning_graph.work_item, week)
