- @title = "Planung Position #{@work_item.label_verbose}"

= render 'plannings/period_link', :id => @work_item

%table.absence
  = render 'plannings/header'
  = render 'plannings/work_item_planning_entry', :work_item_planning_graph => @graph

%br/
%br/
= render 'legend'
